[2019-02-27 10:33] bensmiley commented on #487
@MuhammedRefaat Is the user a valid contact? In general, to get a user from Firebase you should use the search API. For example:

[code]

[2019-02-27 10:56] MuhammedRefaat commented on #487
@bensmiley when calling the method usersForIndex() I never get the callback, it just performs the call with no results in the subscribe or the throwable, and nothing special appears in the logs.

On the other hand, is getting/creating the user the way I'm doing is a valid one for a perfectly added users to the thread? or there is something I'm missing.

[2019-02-27 11:11] bensmiley commented on #490
This has been fixed and will be available in 4.6.1.

[2019-02-27 11:11] #490 closed

[2019-02-27 21:58] tobimichigan commented on #489
@MuhammedRefaat , there is no problem with the Location screen. It is the absence of your SHA1 key on  your firebase cloud computing console that is responsible for your issue. Simply get your sha1 release key from google developer playstore console and add it to:
1. The firebase console project
2. The restriction area in the console.developer.google.com console area

Google now generates a new si

[2019-03-03 18:40] YAMexchange commented on #148
Now Firestore is out of BETA, YES YES YES PLEASE - And if you could add in the WebApp chat as per ChatCat.io as well so we can create a seemless chat / messaging experience across our web and mobile apps we would pay as well!

[2019-03-04 18:27] MuhammedRefaat commented on #487
@bensmiley I found the cause, when connecting to the firebase using the command `builder.firebaseRootPath("");` we are using a path contains spaces (e.g. "Chat SDK path"), and this causes the firebase to create two different roots in the db, one is regular one with spaces and the other with spaces replaced by 20%, and what happens when creating a thread and assigning users to it, is that the threa

[2019-03-05 01:49] MuhammedRefaat commented on #489
@tobimichigan Thank you for your reply, actually I'm already including my app in firebase console, and I'm already using maps in a couple of places in the app and they are working perfectly, only when using the send Location functionality in ChatSDK I'm getting that issue, when debugging a fast return for onActivityResult is being done with an empty intent.

[2019-03-05 20:17] MuhammedRefaat commented on #489
@tobimichigan Actually you was right regarding the console, the maps functionality was enabled but the places wasn't, so that's why it was behaving like that.
All I had to do is to add Google Places feature to the project dashboard, and getting the new key, then everything is not perfect, thank you.

[2019-03-05 20:17] #489 closed

[2019-03-06 01:59] MuhammedRefaat commented on #488
Solved,
Actually the cause was because of the order of the activation commands, but not only because of `UserInterfaceModule`, it was because of `FirebaseFileStorageModule` is being activated using `BaseNetworkAdapter` of `NetworkManager `which is being re-instantiated by `FirebaseModule.activate()`, so activating `FirebaseModule` after activating `FirebaseFileStorageModule` was nullifying the `Up

[2019-03-06 01:59] #488 closed

[2019-03-06 07:04] bensmiley commented on #487
@MuhammedRefaat could you try to use this code:

[code]

You will need to verify that the user ID is correct because if it's not, currently nothing will happen (we have introduced a fix into the next version so if the user doesn't exist, this will return an error.

As to your second point, the root path cannot have any spaces. I've added a check into the code which means that from the next version

[2019-03-06 14:19] MuhammedRefaat commented on #487
Noted, changed the user get/create to the method you mentioned, and will change the root path to a new one with no **Spaces**.

[2019-03-06 14:19] #487 closed

[2019-03-06 17:32] kundan1301 opened #496 "pivotX of chat-sdk-ui conflicting with constraintlayout pivotX"
it's giving me resource merge error. It would be better if all attrs/values is prefixed with chat_sdk_android.

[2019-03-07 06:29] bensmiley commented on #496
<img width="673" alt="screenshot 2019-03-07 at 13 28 05" src="https://user-images.githubusercontent.com/5514010/53936588-de6a4500-40dc-11e9-94bc-0fdfbfd0a4ac.png">

I think your issue must be caused by something else. We never define `pivotX` in the chat-sdk-ui. And we use the constraint layout. I think it's more likely that you are mixing versions of a library in Gradle.

[2019-03-12 10:07] NitinSharma639 opened #500 "Does this sdk support group chat?"
Hi

I want to know if this sdk supports group chat. I need to implement group chat.

Thanks

[2019-03-12 10:37] #500 closed

[2019-03-17 17:10] alexfdz opened #501 "MigrationV5 uses unsupported DROP COLUMN"
1. **Is the bug present in the demo Chat SDK project?**
Yes

2. **What modifications have you made to the Chat SDK?**
Full customisation

3. **Android Version:**
22-28

4. **Steps taken to reproduce the problem:**
Application migration

5. **Expected result:**
Schema migration

6. **Actual result:**
Crash

[code]

7. **Comments:**

As the documentation specifies, SQLite does not support `DROP COLU

[2019-03-17 17:17] alexfdz opened #502 "NPE in MigrationV6 trying to use a null daoSession"
1. **Is the bug present in the demo Chat SDK project?**
Yes
2. **What modifications have you made to the Chat SDK?**
Full customisation
3. **Android Version:**
22-28
4. **Steps taken to reproduce the problem:**
Application migration
5. **Expected result:**
Schema migration
6. **Actual result:**
Application crash

[code]

7. **Comments:**
MigrationV6 tries to use a null `daoSession` through `DaoCor

[2019-03-18 07:57] bensmiley commented on #501
@alexfdz do you find it still works if you comment out migration v5?

[2019-03-18 14:45] alexfdz commented on #501
@bensmiley 	yes, #503 fixes this issue

[2019-03-18 15:33] LluisFelip opened #505 "Missing migration for THREAD.CREATOR_ID not null constraint"
1. **Is the bug present in the demo Chat SDK project?**
Yes

2. **What modifications have you made to the Chat SDK?**
Full customization

3. **Android Version:**
22-28

4. **Steps taken to reproduce the problem:**
- Have a version installed previous to _e6431b5538e12dcfd1e1da77570dfd6b7f9c4475_ (CREATOR_ID and LAST_MESSAGE_ID was NOT NULL and it changed here but a migration was missing).
- Upgrade

[2019-03-19 04:05] #501 closed

[2019-03-19 04:07] #496 closed

[2019-03-19 04:08] #505 closed

[2019-03-19 04:09] #502 closed

[2019-03-19 04:10] bensmiley commented on #485
@nirmalbaby1113 can you provide a stack trace? And ideally fill out the issue template?

[2019-03-19 08:21] JeffreyKrist opened #507 "Google Places API for Android deprecated?"
The share location functionality isn't working at this moment.

"Google Places API for Android" is deprecated and you can't select this API from Google's dashboard anymore. See https://developers.google.com/places/android-sdk/intro

[code]

We also tried the new API, https://cloud.google.com/maps-platform/?apis=maps,places, without any luck.

Can anybody confirm this, please?

[2019-03-19 08:38] bensmiley commented on #507
@JeffreyKrist you can do it [here](https://cloud.google.com/maps-platform/places/?apis=places).

[2019-03-19 08:38] #507 closed

[2019-03-20 17:33] vance commented on #282
what does this mean? What is the fix here?

[2019-03-21 03:28] bensmiley commented on #282
@vance I'm not sure where you took that quote from.

This issue doesn't appear to be directly related to the Chat SDK - it's a Gradle dependency issue. I expect it could be resolved by following the Firebase [documentation](https://firebase.google.com/docs/database/android/start).

[2019-03-21 03:28] #282 closed

[2019-03-23 09:25] alexfdz opened #509 "Fix some translations"
1. **Is the bug present in the demo Chat SDK project?**
Yes
2. **What modifications have you made to the Chat SDK?**
Full customisation
3. **Android Version:**
22-28
4. **Steps taken to reproduce the problem:**
Revoke camera/gallery permissions
5. **Expected result:**
Toast with message
6. **Actual result:**
[code]

7. **Comments:**

[2019-03-24 10:41] hoang17 commented on #148
+1

[2019-03-25 07:04] #509 closed

[2019-03-25 11:36] Mrudulamrudu25 commented on #148
+1

[2019-03-26 23:13] aymenhs opened #511 "fetchOrCreateEntityWithEntityID"
Hello,
Before the last release 4.6.5 :
- StorageManager.shared().fetchOrCreateEntityWithEntityID works fine to get an entity using it's entity ID (doc: https://github.com/chat-sdk/docs )
- It's the case as well for : InterfaceManager.shared().a.startChatActivityForID

Now no longer possible to use methods, please what are the alternatives for both? thanks

[2019-03-27 01:39] bensmiley commented on #511
For the first case use:

[code]

For the second case:

[code]

[2019-03-27 01:39] #511 closed

[2019-03-27 09:07] aymenhs commented on #511
thank you Ben :) I'll try

On Wed, Mar 27, 2019 at 2:39 AM Ben Smiley <notifications@github.com> wrote:

[2019-03-27 23:08] aymenhs commented on #511
Ben,

we discussed last year how to silently authenticate a user , I used :
NM.auth().authenticateWithCachedToken().subscribe() which works fine.

Now , it's deprecated and the  alternative ChatSDK.core() didn't have
any similar method, how can I proceed ? thanks

On Wed, Mar 27, 2019 at 2:39 AM Ben Smiley <notifications@github.com> wrote:

[2019-03-30 10:16] adapana commented on #456
This issue is happening lastest code. When  I log out using `ChatSDK.auth().logout().subscribe();` code.
When I log in again then the app crashes every time.

[2019-03-30 15:07] alexfdz opened #512 "Throwing crash if the user cancels a permission request"
1. **Is the bug present in the demo Chat SDK project?**
Yes

2. **What modifications have you made to the Chat SDK?**
Lots

3. **Android Version:**
22-28

4. **Steps taken to reproduce the problem:**
- Open a chat
- Attach an image
- Cancel the permission request

5. **Expected result:**
No exception or crash to be thrown, the user cancelling a permission request is not an exception and should be

[2019-03-30 15:29] alexfdz opened #514 "IllegalStateException in FirebaseTypingIndicatorHandler"
1. **Is the bug present in the demo Chat SDK project?**
Yes
2. **What modifications have you made to the Chat SDK?**
Not to the chat-sdk-typing-indicator

3. **Android Version:**
 8.0.0

4. **Steps taken to reproduce the problem:**
User crash.

5. **Expected result:**
The typing indicator to be shown

6. **Actual result:**

[code]
7. **Comments:**
chat-sdk-typing-indicator-4.6.0

[2019-04-02 12:34] #512 closed

[2019-04-03 10:41] bensmiley commented on #356
This has been resolved.

[2019-04-03 10:41] #356 closed

[2019-04-03 10:41] #349 closed

[2019-04-03 10:42] #322 closed

[2019-04-03 10:42] #323 closed

[2019-04-03 10:42] #324 closed

[2019-04-03 10:43] bensmiley commented on #385
I can't replicate this as of 4.7.1

[2019-04-03 10:43] #385 closed

[2019-04-03 10:43] #348 closed

[2019-04-03 10:44] bensmiley commented on #320
This has been implemented.

[2019-04-03 10:44] #320 closed

[2019-04-03 10:44] #319 closed

[2019-04-03 10:44] #318 closed

[2019-04-03 10:44] #317 closed

[2019-04-03 10:51] bensmiley commented on #316
Yes, when you send the message you can check the status:

[code]

Then use `message.getMessageStatus()`. You could intercept it at the `Sending` status. To listen for when a message is received you could use:

[code]

If you want a global even for message sending, you could add a new hook call and submit a pull request and we will merge it with the core library.

[2019-04-03 10:51] #316 closed

[2019-04-03 10:51] #452 closed

[2019-04-03 10:53] bensmiley commented on #389
We have now added support for material design.

[2019-04-03 10:53] #389 closed

[2019-04-03 10:54] bensmiley commented on #312
@developer20atmoderni in order to use the XMPP adapter you would need to purchase a license [here](http://chatsdk.co/xmpp/). When you do that you will get instructions to install the XMPP support.

[2019-04-03 10:54] #312 closed

[2019-04-03 10:55] bensmiley commented on #321
Please update to 4.7.1. This issue should be resolved.

[2019-04-03 10:55] #321 closed

[2019-04-03 10:56] #329 closed

[2019-04-03 10:56] bensmiley commented on #350
This seems to be an issue with push notifications not setup correctly.

[2019-04-03 10:56] #350 closed

[2019-04-03 10:56] #315 closed

[2019-04-03 10:56] #307 closed

[2019-04-03 10:57] bensmiley commented on #293
This happens when the Google Places API hasn't been enabled from the Google Places dashboard.

[2019-04-03 10:57] #293 closed

[2019-04-04 08:16] alexfdz opened #515 "ConcurrentModificationException trying to stop ChatActivity"
1. **Is the bug present in the demo Chat SDK project?**
Yes

2. **What modifications have you made to the Chat SDK?**
Lots

3. **Android Version:**
22-28

4. **Steps taken to reproduce the problem:**
Unknown

5. **Expected result:**
The `disposableList` can be cleared without a ConcurrentModificationException

6. **Actual result:**

[code]
7. **Comments:**
The operations on `disposableList` must b

[2019-04-04 10:01] aymenhs opened #517 "silently autenticate user"
To silently authenticate a user , I used : NM.auth().authenticateWithCachedToken().subscribe() which works fine.
Now , it's deprecated and the  alternative ChatSDK.core() didn't have any similar method, how can I proceed ? thanks

[2019-04-04 12:18] #515 closed

[2019-04-05 12:47] SajjadRaza72 opened #518 "Website is down ??"
Your website is down ? Could you please let me know from when it will be back? or what else?

[2019-04-05 12:49] bensmiley commented on #518
Hi @SajjadRaza72 the website should be back online - [chatsdk.co](http://chatsdk.co) if you have a problem accessing it could you let me know?

[2019-04-05 12:55] SajjadRaza72 commented on #518
Actually i referred the SDK to some of my client, when client tried to buy the additional modules, site was down. We already started working with basic things but now ......
Any approximate time to be back online?

[2019-04-06 11:03] bensmiley commented on #518
We have moved to a new host and the website is now fully back online.

[2019-04-06 11:03] #518 closed

[2019-04-08 16:44] aumarbello commented on #283
@agustinsivoplas Were you able to achieve this?

[2019-04-08 16:54] aumarbello opened #519 "Creating a one-time public thread to be shared by multiple users"
1. **Is the bug present in the demo Chat SDK project?**
N/A
2. **What modifications have you made to the Chat SDK?**
N/A
3. **Android Version:**
N/A
4. **Steps taken to reproduce the problem:**
N/A
5. **Expected result:**
N/A
6. **Actual result:**
N/A
7. **Comments:**
Just like the title of the issue, I want to be able create a single thread to be share by multiple users(across multiple devices) w

[2019-04-09 12:24] bensmiley commented on #519
The best way to do this is by predefining the thread ID.

[code]

If you define the entity ID in advance, you can call this multiple times and it won't overwrite anything.

There isn't a way to search public threads on Firebase but the public threads will be synchronized when you log in. Then you could get the complete list using:

[code]

[2019-04-09 12:24] #519 closed

[2019-04-09 21:05] kutakmir commented on #148
Yes!

[2019-04-11 08:04] theappshed opened #520 "InterfaceManager.shared().a.startSplashScreenActivity(context);"
1. **Is the bug present in the demo Chat SDK project?**
No

2. **What modifications have you made to the Chat SDK?**
None

3. **Android Version:**
Min-19, Target-28

4. **Steps taken to reproduce the problem:**
InterfaceManager.shared().a.startSplashScreenActivity(context);

I followed the "Add to existing project" information, and this line gives an issue as InterfaceManager is deprecated

5. **E

[2019-04-11 08:50] bensmiley commented on #520
Ok, you would need to add this to your manifest:

[code]

That will launch the splash screen activity when the app starts up and if the user isn't logged in, it will automatically launch the login activity.

[2019-04-11 08:52] bensmiley commented on #520
I'll update the walkthrough. The code should be:

[code]

[2019-04-11 08:52] #520 closed

[2019-04-11 08:53] theappshed commented on #520
Hi Ben,

Thanks for the reply – however, this is being added to an existing app and the Chat section kicks in much further into the app. There’s already a Firebase login screen in place at the start of the app so a FBUser already exists before they get to the chat screen.

I literally just need to be able to segue to the actual chat screen – is that possible.

Also having a bit of a headache with

[2019-04-11 08:54] theappshed commented on #520
Hi Ben,

Spot on buddy – many thanks!

Kind Regards,

Steve Tinkler

01325 978488

Confidentiality and Disclaimer: This E-Mail, and any attachments, contains information which is private and confidential. If you have received this E-Mail in error, please delete the message and notify the sender immediately on 01325 978488. If you are not the intended recipient, please note that you are not authori

[2019-04-12 08:02] aymenhs commented on #517
guys any suggestion? thank you

[2019-04-12 11:12] bensmiley commented on #517
You can just call:

[code]

[2019-04-12 11:12] #517 closed

[2019-04-12 12:09] aymenhs opened #521 "ChatSDK activation fails with version 4.7.2-7"
ChatSDK activation fails

1. **Is the bug present in the demo Chat SDK project? no
2. **What modifications have you made to the Chat SDK? nothing

3. **Android Version: 8.0 , Chat sdk : 4.7.2-7

4. **Steps taken to reproduce the problem:

[code]

5. **Expected result: chat sdk activation success

6. **Actual result:

[code]

[2019-04-12 12:34] bensmiley commented on #521
@aymenhs can you try testing with version 4.7.2 of the project? 4.7.2-7 is likely to be an internal release and may not be stable. Also can you tell me which version of Android Studio you're using? If you just check out the latest version of the project from Github and try to compile it, do you see the same issue?

[2019-04-12 14:22] aymenhs commented on #521
I reverted to 4.7.2 , take also the last version , I still had the same issue.
I'm using Android studio 3.3.2. isn't it related to an org.greenrobot.greendao issue?
my init method who raises the error when calling ChadSDK.initialize is the following:
[code]

[code]

[2019-04-15 11:57] bensmiley opened #522 "Copy / Paste message text"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**

4. **Steps taken to reproduce the problem:**

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

[2019-04-15 18:16] JeffreyKrist commented on #507
@bensmiley I believe it is deprecated. See https://developers.google.com/places/android-sdk/placepicker, which references to documentation of classes used in https://github.com/chat-sdk/chat-sdk-android/blob/1c0ec4164f78ccd1bd5cf1e1d54fe075eccaf9e3/chat-sdk-ui/src/main/java/co/chatsdk/ui/chat/LocationSelector.java#L8. I can confirm I can't successfully get access to an newly created API: `Places S

[2019-04-21 00:31] aymenhs commented on #521
i find the root cause: related to dex

[2019-04-21 00:31] #521 closed

[2019-04-23 14:56] bensmiley commented on #521
@aymenhs could you post your solution? I also experienced this issue but the only solution I could find was to add a dependency to the encryption library.

[2019-04-23 21:38] jro-j opened #523 "DialogFragment can not be attached to a container view"
1. **Is the bug present in the demo Chat SDK project?**
Yes

2. **What modifications have you made to the Chat SDK?**
https://www.youtube.com/watch?v=TldTOCoWLko

3. **Android Version:**
Android Studio: compileSdkVersion 28
My android: API 23

4. **Steps taken to reproduce the problem:**
I created a conversation.
and this conversation has been added to the list.
Until here, okay!

When you press b

[2019-04-25 07:32] levantinh opened #525 "ERROR: Unable to resolve dependency for ':chat-sdk-read-receipts@debug/compileClasspath'"
Hello,

I just can't find out What is wrong with this?
I can't resolve these errors

ERROR: Project with path ':chat-sdk-firebase-adapter' could not be found in project ':chat-sdk-read-receipts'.

[2019-04-25 08:41] #525 closed

[2019-04-25 09:42] levantinh opened #526 "ERROR: Failed to resolve: co.chatsdk.chatsdk:chat-sdk-ui:4.0.0"
hello
I cannot resolve this error
ERROR: Failed to resolve: co.chatsdk.chatsdk:chat-sdk-ui:4.0.0

[2019-04-25 09:52] #526 closed

[2019-04-25 11:40] fernandodeveloper commented on #148
yes

[2019-04-25 15:58] maxi182Eman opened #527 "Error Caused by: java.lang.RuntimeException: com.android.build.api.transform.TransformException:"
Adding the steps of the tutoria and trying to run the app I am getting RuntimeExeption when run the app.
here is the logs.

[code]

[2019-04-26 07:31] levantinh opened #528 "D:\gop29\Youpert_main\chat-sdk-read-receipts\src\main\java\co\chatsdk\read_receipts\FirebaseReadReceiptHandler.java: uses unchecked or unsafe operations. Recompile with -Xlint:unchecked for details."
[code]

help me!

[2019-05-01 16:32] aymenhs commented on #521
What I did is to disable instant run. Because even with my dex parameters which I tweaked in every possible aspects I always had a problem.
see screenshot:  https://ibb.co/gj2Zh3M

I still had other dex issues but with a material library , not a blocking one

[2019-05-02 02:45] #528 closed

[2019-05-05 07:59] alexfdz commented on #514
@bensmiley any update on this issue?

[2019-05-06 16:10] bensmiley commented on #514
Hi @alexfdz we're preparing a new release and this issue will be addressed in that release.

[2019-05-09 09:33] FahidDis opened #529 "Won't let me use the library without migrating to anrdroid X"
I am including this library to one of my existing project but it wants me to migrate my project to android X first. And i don't wanna do that.
Is there any way i can use it with my current project?

[2019-05-09 09:34] bensmiley commented on #529
@FahidDis Are you including the Chat SDK as a Gradle dependency?

[2019-05-09 09:49] bensmiley commented on #529
If so, can you post your gradle file and also the error message?

[2019-05-09 13:04] kanaksony opened #530 "Firestore for database + Chat SDK for chat in my App"
1. **Requirement**
I have a requirement to integrate chat functionality in my android app. This app has firestore backend with several collections like - Users, cities, etc.

2. **What I have done so far**
User Signup / login :
I use firebase for Google login /signup and create user in Firestore database.

     For Chat : I have used following from examples -

[code]
This creates a User in Realtim

[2019-05-09 18:25] bensmiley commented on #530
Hi @kanaksony,

What you have done so far looks to be correct. The only issue is that you should be passing in another user to the conversation. As it is, you are creating a chat with only one user which isn't valid.

You will need a way to discover the other user's entity ID. The Chat SDK provides a method to do by searching for a user then adding them to your contacts. But you could also create

[2019-05-09 18:53] kanaksony commented on #530
@bensmiley This looks what I need. I will try it my morning and will update you. :)

[2019-05-10 11:43] bensmiley commented on #529
Closing due to inactivity, if you would like further support you can reopen the issue.

[2019-05-10 11:43] #529 closed

[2019-05-10 11:44] bensmiley commented on #527
This kind of issue is usually related to Gradle incompatibilities. You should check that none of your Gradle dependencies conflict with the Chat SDK Gradle dependencies.

[2019-05-10 11:44] #527 closed

[2019-05-10 11:45] bensmiley commented on #522
This has been implemented - long press the message to use the feature.

[2019-05-10 11:45] #522 closed

[2019-05-10 11:46] bensmiley commented on #523
This has been fixed in the latest version. The back button has been disabled on the main activity.

[2019-05-10 11:46] #523 closed

[2019-05-10 13:50] kanaksony commented on #530
Hi Ben, I used following functions -

For fetching the other User -
[code]

For creating chat thread with above User -
[code]

Starting Private chat -
[code]
Please correct me if I am doing something wrong above.

[2019-05-10 19:33] bensmiley commented on #530
@kanaksony This will only work if the ID of the Firestore user is the same as the Entity ID used by the Chat SDK. If they are not the same, when a user logs in, you would need to save their Chat SDK Entity ID to Firestore, and then read this value.

[2019-05-13 09:23] FahidDis commented on #529
I am now adding it in a test project which don't have androidX.
Here is my gradle file:
`apply plugin: 'com.android.application'

android {
    compileSdkVersion 28
    defaultConfig {
        applicationId "com.test.chatsdktest"
        minSdkVersion 19
        targetSdkVersion 28
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "android.support.test.runner.Androi

[2019-05-14 07:24] NguyenSon3122 opened #531 "i have a project needs chat SDK"
i have a project needs chat SDK, we bought 2 lisences for 2 modules: Read Receipts for Android and  Sticker Messages for Android, but i cant add that 3 modules to my project, anyone had solved it before please help! ......................

[code]

[2019-05-14 07:56] tefracky opened #532 "How can I listen for share Intent?"
Hello,

is it possible to listen to share Intens like "text/plane" or images to send over Chat-SDK?

[2019-05-14 09:47] bensmiley commented on #532
At the moment that isn't possible. I can add it as a feature request. Or if you would be interested in adding the feature, I could merge review and merge it if you submit a pull request. If you needed any advice on how to implement it I could also provide support.

[2019-05-14 09:49] bensmiley commented on #531
Hi @NguyenSon3122 can you tell me which version of the modules you are using and which version of the core library? Also, when does this error occur? Can you provide the steps to reproduce it?

[2019-05-14 09:57] NguyenSon3122 commented on #531
version of the modules: 4.6.9
version of the core library: 4.7.5

[2019-05-14 09:59] bensmiley commented on #531
Could you try downgrading to version 4.7.1 of the core library? We will also be releasing a new update to the modules today so if you can wait a few hours, it would be worth updating to that.

[2019-05-14 10:00] NguyenSon3122 commented on #531
I wait for the update, I don't need to downgrade the version ?

[2019-05-14 10:19] NguyenSon3122 commented on #531
I tried to downgrade to 4.7.1 but it didn't work.....

[2019-05-14 10:20] bensmiley commented on #531
Ok, if you wait a few hours, you can update to the latest version. If you have problems with that, I can support you directly.

[2019-05-15 11:29] bensonokiora commented on #148
yes

[2019-05-15 15:09] bensmiley opened #533 "Updating from 4.7.x to 4.8.x"

[2019-05-15 18:27] kanaksony commented on #530
Thanks @bensmiley this worked.

[2019-05-15 18:28] bensmiley commented on #530
Great!

[2019-05-15 18:28] #530 closed

[2019-05-16 13:31] ghvvl opened #534 "Bug with reloading messages."
1. **Is the bug present in the demo Chat SDK project?**
I think no.
2. **What modifications have you made to the Chat SDK?**
No.
3. **Android Version:**
8.1
4. **Steps taken to reproduce the problem:**
Send any message.
Call loadMoreMessagesForThread().
5. **Expected result:**
one message was added.
6. **Actual result:**
2 same messages was added.
7. **Comments:**
I think error is in merge 2 lists

[2019-05-20 03:41] NguyenSon3122 commented on #531
My 2 modules that are sticker and Read Receipts have updated 4.8.2 I cannot integrate. please help me

[2019-05-20 13:22] bensmiley commented on #531
Hi @NguyenSon3122 can you tell me what problem you're having? Did you manage to download the modules from the website? Are you seeing any compile time or run time errors?

[2019-05-21 01:28] NguyenSon3122 commented on #531
thư viện của tôi : 4.7.5  module sticker and read-receipts  4.8.2
![error](https://user-images.githubusercontent.com/46442621/58061826-0fb5c580-7ba2-11e9-83f2-761561c1aa70.png)

[2019-05-21 01:35] NguyenSon3122 commented on #531
I tried adding 2 modules to the original version 4.8.2  that encountered this error ..... you can support me via teamview
![error](https://user-images.githubusercontent.com/46442621/58062133-696abf80-7ba3-11e9-8d1d-2eba2061d5fd.png)

[2019-05-23 06:47] 09009090029 opened #535 "Silently Download Previous thread"
**Whan User login agian SDK start downloading previous thread but not give any events i(ThreadAdded,ThreadDetailsUpdated etc).**

Also not give any signal whan all Previous threads is download.

[2019-05-26 04:11] moo611 opened #536 "Do I need to create a new firebase project of my own if I want to use SDK,or all of the datas are in your project."
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**

4. **Steps taken to reproduce the problem:**

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

[2019-05-28 09:16] MichielElshout91 commented on #507
@bensmiley I'm experiencing this problem too. Are there any updates yet?

[2019-06-06 14:40] bensmiley commented on #535
@09009090029 are you using the latest version of the chat?

[2019-06-06 14:51] bensmiley commented on #536
You need to make your own Firebase project because we wipe down our project regularly. You can follow the setup instructions to setup your client to connect to your Firebase Database.

[2019-06-06 14:51] #536 closed

[2019-06-12 11:06] bensmiley commented on #535
Closing due to inactivity.

[2019-06-12 11:06] #535 closed

[2019-06-13 21:51] troubleshoooter opened #537 "app crashing when opening splash activty"
1. **Is the bug present in the demo Chat SDK project?**
yes, as I am implementing as the guide says
2. **What modifications have you made to the Chat SDK?**
none
3. **Android Version:**
9.0
4. **Steps taken to reproduce the problem:**
I can't as it's the SDK error
5. **Expected result:**
should open the splash screen activity
6. **Actual result:**
crashing.
7. **Comments:**

STACKTRACE::--

java.l

[2019-06-14 12:37] kalanidhidev opened #538 "Message getting delay from receiver side at first time ?"
I have fetched the user using  meta data and create a thread. I able to get the user object and create the thread. But first time when I send the message , receiver not able to receive at the moment later they got the message. Some time two thread created in single users  while listing user message list.
[code]

[2019-06-17 07:52] zaidzak9 opened #539 "does this sdk require android x?"
Does your chat sdk require my android project to be migrated to ANDROID X??

[2019-06-17 11:37] bensmiley commented on #539
Yes, the project uses Android X which means that you should migrate your project if you intend to use it. It is highly recommended to update to Android X anyway because the support libraries are deprecated. The process is usually quick and easy.

[2019-06-17 11:37] #539 closed

[2019-06-17 11:39] zaidzak9 commented on #539
Thankyou very much for the quick response.

On Mon, Jun 17, 2019, 5:07 PM Ben Smiley <notifications@github.com> wrote:

[2019-06-18 17:35] chriswoolfe opened #540 "Does ChatSDK XMPP support push notifications?"
1. **Is the bug present in the demo Chat SDK project?**
Yes.
2. **What modifications have you made to the Chat SDK?**
None
3. **Android Version:**
Yes
4. **Steps taken to reproduce the problem:**
I downloaded the XMPP demo app from https://i.diawi.com/mE5GkM I created an account. I did the same on another phone. I can text back-and-forth with the app open, but when the app goes to the background (

[2019-06-19 05:39] Harishiv commented on #538
ChatSDK Team,

Do we have any update on the issue described above? We are looking forward to get this clarified and resolved asap for proceeding the integration with project.

[2019-06-21 05:29] zaidzak9 opened #541 "How cutomize the chat screen and how to delete a paticular thread?"
Hi

Im finding it hard to customize the screen can some one tell me how to? and also how do i delete a particular thread?

Thanx in advance

[2019-06-21 11:00] bensmiley commented on #541
Have you looked at these documents: [1](https://github.com/chat-sdk/docs/blob/master/Android%20Customize%20UI.md), [2](https://github.com/chat-sdk/docs#customizing-the-user-interface)?

[2019-06-21 11:09] bensmiley commented on #538
Hi @Harishiv, the code you're using looks good. Could you describe the actual issue you're having in more detail? I'm not clear what the issue is. If you need to get in touch more directly, you can visit [slack.sdk.chat](http://slack.sdk.chat).

[2019-06-21 11:11] bensmiley commented on #540
Hi @chriswoolfe actually push notifications aren't currently enabled for the current demo app but they do work when setup. I'll set them up on the demo app in the next few days.

[2019-06-22 00:28] johnx32 opened #542 "SplashScreenActivity logoDrawableResourceID on a null object reference"
1. **Is the bug present in the demo Chat SDK project?**
   no
2. **What modifications have you made to the Chat SDK?**
     nothing
3. **Android Version:**
     minSdkVersion 17       targetSdkVersion 28
4. **Steps taken to reproduce the problem:**
   launch   SplashScreenActivity
5. **Expected result:**
    launch   SplashScreenActivity
6. **Actual result:**
   the error mesage
<pre>
06-21 20:06:

[2019-06-22 16:23] chriswoolfe commented on #540
Ok thanks for that clarification!

[2019-06-24 06:58] abdullahalshafi opened #543 "App Crashes when denying permission"
1. **Is the bug present in the demo Chat SDK project?**
Yes

2. **What modifications have you made to the Chat SDK?**
None

3. **Android Version:**
6.0

4. **Steps taken to reproduce the problem:**
Open any thread and try to take/choose photo and deny the permission and press cancel.

5. **Expected result:**
Display error message.

6. **Actual result:**
App crashes.

7. **Comments:**
Here is the l

[2019-06-26 22:30] azentner1 opened #544 "Auth without UI"
Is it possible to authenticate a user without invoking Firebase UI?

I have a custom UI for phone number registration - that works fine, but when i try to auth a user with ChatSDK i get `ChatError, Code: 106, CoreMessage: No auth bundle found, Tag: null`.
Any thoughts?

[2019-06-26 23:09] canetcesc opened #545 "App crash: E/BitmapFactory: Unable to decode stream: java.io.FileNotFoundException: /952.png (No such file or directory)"
1. **Is the bug present in the demo Chat SDK project?**
I have followed the steps on Manual 3
2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**
API26
4. **Steps taken to reproduce the problem:**
0. Run the app with Android Studio. I have the Splash Screen configured to be the login screen.
1. Create a new login (username and password)
2. Try to log in using the user

[2019-06-27 16:44] bensmiley commented on #196
This is now added in the latest version.

[2019-06-27 16:44] #196 closed

[2019-06-28 12:51] thecmart commented on #542
Hello John, I suspect that your root path might have one or more dashes "-" in it. This is a frequent issue that causes the try{ block in the AppObj class to fail. Please let me know if your root path in the AppObj class "config.firebaseRootPath(" ");" has no dashes in it, and if it does, remove them and try it again.

[2019-06-28 13:12] thecmart commented on #542
Hello John, I suspect that your root path might have one or more dashes "-" in it. This is a frequent issue that causes the try{ block in the AppObj class to fail. Please let me know if your root path in the AppObj class "config.firebaseRootPath(" ");" has no dashes in it, and if it does, remove them and try it again.

[2019-06-28 13:48] thecmart commented on #205
@RogerRabbit91 We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 13:48] #205 closed

[2019-06-28 14:00] thecmart commented on #211
@myeduapp We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:00] #211 closed

[2019-06-28 14:02] thecmart commented on #223
@dlaravindhan We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:02] #223 closed

[2019-06-28 14:08] thecmart commented on #271
@snipe717 We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:08] #271 closed

[2019-06-28 14:13] thecmart commented on #272
@snipe717 We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:13] #272 closed

[2019-06-28 14:21] thecmart commented on #274
@snipe717 We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:21] #274 closed

[2019-06-28 14:31] thecmart commented on #276
@myeduapp We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:31] #276 closed

[2019-06-28 14:32] thecmart commented on #277
@snipe717 We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:32] #277 closed

[2019-06-28 14:43] thecmart commented on #280
@Aeryltic We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:43] #280 closed

[2019-06-28 14:43] thecmart commented on #281
@agustinsivoplas We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:43] #281 closed

[2019-06-28 14:44] thecmart commented on #286
@agustinsivoplas We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:44] #286 closed

[2019-06-28 14:45] thecmart commented on #304
@nosaosahon We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 14:45] #304 closed

[2019-06-28 14:57] thecmart commented on #305
@Yrlec This is not an actual bug. I am not currently sure if this rule was written for a specific reason or not, given the many changes that our staff have made to the Program over the past few months. If it seems redundant then you can delete it in your Firebase account and run the App as you see fit. If the line creates a specific problem for you then please re-open the issue.

[2019-06-28 14:57] #305 closed

[2019-06-28 15:01] thecmart commented on #375
@rahulsharmagbpec We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 15:01] #375 closed

[2019-06-28 15:05] thecmart commented on #388
@ominfowave We could not reproduce this problem in the newest version of Chat SDK, so we will close this issue. If the issue persists, please re-open it.

[2019-06-28 15:05] #388 closed

[2019-06-28 15:06] thecmart commented on #214
This is an old issue.

[2019-06-28 15:06] #214 closed

[2019-06-28 15:07] thecmart commented on #210
@abbaselectricwala There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:07] #210 closed

[2019-06-28 15:17] thecmart commented on #273
@snipe717 There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:17] #273 closed

[2019-06-28 15:19] thecmart commented on #275
@snipe717 @agustinsivoplas There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:19] #275 closed

[2019-06-28 15:20] thecmart commented on #278
@mdmiko There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:20] #278 closed

[2019-06-28 15:21] thecmart commented on #287
@avinath321 There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:21] #287 closed

[2019-06-28 15:22] thecmart commented on #288
@codeForge13 There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:22] #288 closed

[2019-06-28 15:47] thecmart commented on #291
@carloscj6 There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue. The Chat SDK internal Implementations have all been updated. For those that are not, you can move your mouse over the individual implementations and see if they need to be updated. If some of the non Chat SDK native imp

[2019-06-28 15:47] #291 closed

[2019-06-28 15:51] thecmart commented on #292
@Thamizhan There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:51] #292 closed

[2019-06-28 15:53] thecmart commented on #295
@eakteam There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:53] #295 closed

[2019-06-28 15:53] thecmart commented on #296
@anbarasu-seven There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:53] #296 closed

[2019-06-28 15:55] thecmart commented on #297
@adgvcxz There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:55] #297 closed

[2019-06-28 15:55] thecmart commented on #298
@michaelaki @mechaadi There have been many modifications made to the app over the past few months. If this problem still persists in the newest version of Chat SDK, please re-open this issue.

[2019-06-28 15:55] #298 closed

[2019-06-28 17:41] thecmart commented on #302
@developer20atmoderni We have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 17:42] #302 closed

[2019-06-28 17:51] thecmart commented on #357
@shubhamtunwal97 We have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 17:51] #357 closed

[2019-06-28 17:53] thecmart commented on #364
@rahulsharmagbpec We have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 17:53] #364 closed

[2019-06-28 17:57] thecmart commented on #367
@biswajitAqb We have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 17:57] #367 closed

[2019-06-28 17:57] thecmart commented on #368
@rahulsharmagbpec We have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 17:57] #368 closed

[2019-06-28 17:58] thecmart commented on #417
@ezet We have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 17:58] #417 closed

[2019-06-28 18:03] thecmart commented on #446
@itimmisriis We have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 18:03] #446 closed

[2019-06-28 18:24] thecmart commented on #454
@muhammadsr we have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 18:24] #454 closed

[2019-06-28 18:25] thecmart commented on #466
@chetan1011 @tobimichigan we have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 18:25] #466 closed

[2019-06-28 18:26] thecmart commented on #467
@chetan1011 we have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 18:26] #467 closed

[2019-06-28 18:29] thecmart commented on #485
@nirmalbaby1113 we have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 18:29] #485 closed

[2019-06-28 18:30] thecmart commented on #514
@alexfdz we have made a large number of changes to the App in the last few months. Please can you update to the newest version and check if the problem still persists. If it does then please re-open this issue.

[2019-06-28 18:30] #514 closed

[2019-06-28 18:58] thecmart commented on #544
@azentner1 Hello Azentner, in order for us to find this error we are going to need more information about how it is caused. Can you please post your entire error report here, as well as any changes that you may have made to the Chat SDK code itself.

[2019-06-28 19:26] thecmart commented on #537
Hello @ideepeshtiwari I am currently trying to reproduce this error. Please tell me which demo version are you using? We are currently updating it. Does this happen when you clone the main chatsdk project and try to run it?

[2019-06-29 13:08] alexfdz opened #546 "SQLiteException with MigrationV9"
The ALTER TABLE command in SQLite allows the user to rename a table or to add a new column to an existing table. It is not possible to rename a column, remove a column, or add or remove constraints from a table.

https://www.sqlite.org/lang_altertable.html

[DatabaseUpgradeHelper.java#L157](https://github.com/chat-sdk/chat-sdk-android/blob/61aca3e3ea50dceb6ea5d8c69128fce53bc2d4da/chat-sdk-core/src

[2019-07-01 14:59] thecmart commented on #531
@NguyenSon3122 Can you please let me know if these problems still exist in the Chat SDK 4.8.2a3 version?

[2019-07-01 14:59] thecmart commented on #533
There is no description of any sort of problem here.

[2019-07-01 14:59] #533 closed

[2019-07-01 15:47] thecmart commented on #534
@ghvvl Hello, we have not been able to re-create the problem. Can you please check that you are running the latest version of Chat SDK 4.8.2a3. If so, please can you post the debugger data that you receive the next time that it happens. The line `loadMoreMessagesForThread` occurs in many places in the software, making it difficult to pinpoint a location in the code where the error may be occurring

[2019-07-01 16:10] thecmart commented on #545
@canetcesc Hello, in order for us to fix this problem we need a few more bits of information from you. 1. Did you follow manuals 1 and 2 before that as well? 2. Did you add location based messages and push notifications to your app as shown in manual 3 as well? The user avatars should appear blank if for some reason the app fails to generate an image. This is why we have been unable to reproduce y

[2019-07-01 16:34] #534 closed

[2019-07-01 19:05] thecmart commented on #543
@abdullahalshafi hello, we have reproduced the error and we are currently working on a solution. We will get back to you soon.

[2019-07-02 05:18] zaidzak9 opened #547 "Push notifications for chat showing error"
Hi i get the following error when trying to test push notifications for chat. plz help me out ... i followed the tutorial given.

[code]

[2019-07-02 06:37] zaidzak9 commented on #541
Thankyou for the response :)

[2019-07-02 13:33] ghvvl commented on #534
@bensmiley Why you closed my issue?

[2019-07-02 13:41] ghvvl commented on #534
@thecmart Hi. I use Chat SDK without ui module. I call loadMoreMessagesForThread directly (for now i use workaround where I check date for equals Date(0)), without this workaround i have list with duplicate elements (I debugged this and  in FirebaseThreadHandler loadMoreMessagesForThread in list was added same elements .

[2019-07-02 13:41] bensmiley commented on #534
@ghvvl have you tested this with the latest version of the code?

[2019-07-02 13:44] ghvvl commented on #534
I use 4.8.2 version of ChatSDK in my project.

[2019-07-02 13:55] bensmiley commented on #534
Can you how me how exactly you are using this code snippet?

[2019-07-03 09:30] ajuarmia commented on #531
I am also facing the same issue.Give solution

[2019-07-03 09:40] ajuarmia opened #548 "Issue after added a module"
Demo chat app working properly.But after added a new module chat sdk contact book, i am getting the error message

[code]

Please support to solve this issue
![Screenshot from 2019-07-03 15-05-31](https://user-images.githubusercontent.com/52490196/60581521-9ca88d00-9da4-11e9-85c4-33fcf645a28f.png)

[2019-07-03 15:55] bensmiley commented on #548
Hi @ajuarmia it's possible that this is caused by a Gradle flag being set to the wrong value. If you have checked out the Chat SDK project from Github then added the module, you would need to set:

[code]

In `gradle.properties`

[2019-07-03 15:59] bensmiley commented on #531
Closing because it's a duplicate: https://github.com/chat-sdk/chat-sdk-android/issues/548.

[2019-07-03 15:59] #531 closed

[2019-07-03 16:04] #541 closed

[2019-07-04 07:33] ghvvl commented on #534
@thecmart @bensmiley Hi. I use this method to loading messages for thread.

 ` fun loadMessages(
        thread: Thread,
        date: Date
    ): Single<List<Message>> =
            ChatSDK
                    .thread()
                    .loadMoreMessagesForThread(
                        date,
                        thread,
                        date != Date(0)
                    ) //We ne

[2019-07-05 04:10] anabsys opened #550 "Actions UI that includes Location and image options"
I want to edit the ui of the actions that includes location, Take photo and chose photo when + button is clicked in chat but don't know how to because i don't know which layout to modify. Please guide me.

[2019-07-05 11:00] bensmiley commented on #550
@anabsys how would you like to modify these actions? Could you give me a screenshot of the screen you are referring to?

[2019-07-05 18:08] anabsys commented on #550
Currently I don't have, I was just thinking to..currently I need guidance on these topics:

1.)  I have enabled Login with firebase Ui, but after user is logged in, if he closes and opens the app, the first layout is seen is of Login button, but the button is not clicked, user is automatic logged in then, how to resolved this by adding something like progressbar, or like circular progressbar the o

[2019-07-06 17:51] anabsys opened #551 "Need help on some topics"
1.) I have enabled Login with firebase Ui, but after user is logged in, if he closes and opens the app, the first layout is seen is of Login button, but the button is not clicked, user is automatic logged in then, how to resolved this by adding something like progressbar, or like circular progressbar the one in splash screen, etc

2.) I have disabled chat room, but also want to remove that option

[2019-07-07 15:24] AnastasiosF commented on #148
+1

[2019-07-08 07:51] t146150 opened #552 "Forward message with error "DatabaseError: Permission denied""
When I do forward message, it often shows DatabaseError: Permission denied, after that it was not allow me to do long click action.
I checked log, it show
```W/RepoOperation: setValue at /develop/threads/-Lj0QBvWjtysy3vnCoxJ/messages/4e79349b-2cb6-4499-a317-dce4b91e13ab failed: DatabaseError: Permission denied```

[2019-07-08 07:59] t146150 commented on #552
I use newest sdk and newest rule but it show same error

[2019-07-11 14:05] kanaksony commented on #551
I too am interested for #3.

[2019-07-13 18:17] anabsys commented on #551
Heyy can u please tell how to add admob.. as i am writing the implementation code, it is giving duplicate error..

[2019-07-15 12:49] canetcesc commented on #545
Cloned the demo repo and worked oerfect.

[2019-07-15 12:49] #545 closed

[2019-07-16 10:57] thecmart commented on #552
Hello @t146150, thank you for alerting us to this this is a problem. It is one that we have recently encountered in the newer versions. We are working on getting it fixed at the moment. We will let you know when we do.

[2019-07-17 12:51] MuhammedRefaat commented on #532
@bensmiley is it yet available or still not?

[2019-07-18 10:13] kanaksony opened #554 "Question : How to set Image of other person while initiating a chat thread?"
1. **Is the bug present in the demo Chat SDK project?**
Don't know

2. **What modifications have you made to the Chat SDK?**
Nothing

3. **Android Version:**
9.0

I have integrated Chat SDK in my app for chat functionality. This is the code for initiating a chat thread :

**Method 1:**

`private void startChatWithThisUser() {
    List<User> userList = new ArrayList<>();
    userList.add(chatUser);

[2019-07-18 10:42] kanaksony opened #555 "Error while sharing location"
1. **Is the bug present in the demo Chat SDK project?**
Yes

2. **What modifications have you made to the Chat SDK?**
Nothing

3. **Android Version:**
9.0

4. **Steps taken to reproduce the problem:**

- Started a chat thread,
- Click on "+" button
- Select "Location" from Actions.

5. **Expected result:**
Location Screen should opens and allow to share the location object.

6. **Actual result:**

[2019-07-19 07:49] aymenhs commented on #555
hello,can you put all the exception, and use the format CODE here? it's not at all visible ;)

[2019-07-19 07:53] aymenhs commented on #554
did you try
User currentUser= ChatSDK.core().currentUserModel();
currentUser.setAvatarURL(...); ?

currentUser is the one already authenticated on the device

[2019-07-19 08:57] aymenhs opened #556 "Can't create public or private thread and add users to it"
1. **Is the bug present in the demo Chat SDK project?**
no
2. **What modifications have you made to the Chat SDK?**
nothing
3. **Android Version:**
9 and 8
4. **Steps taken to reproduce the problem:**
I had two authenticated users with their phone numbers, if one of them create a chat room (public or private) the other one on the other device can't see it.

Creation method by USER_1 on device 1 (a

[2019-07-19 17:05] kanaksony commented on #554
current user avatar is already set - see from above image. I want to et avatar image of the User to which I am chatting.

[2019-07-21 08:57] bensmiley commented on #554
The issue is that you with a 1-to-1 chat, you don't need to pass in an image url for the thread.

[code]

If you just pass in the current user and the other user, the correct avatar will be displayed when the chat opens. This is default behaviour.

The problem is that you have passed in a custom URL which appears not to be valid anyway. So the framework is just using the default thread picture. Si

[2019-07-21 08:57] #554 closed

[2019-07-21 09:40] aymenhs opened #558 "can't see public threads created by other users"
1. **Is the bug present in the demo Chat SDK project?**
not same logic

2. **What modifications have you made to the Chat SDK?**
nothing

3. **CHAT SDK version :**
4.8.2

4. **Android Version:**
7 , 8 and 9 (hardware devices)

5. **Steps taken to reproduce the problem:**
When an authenticated user create a public thread/or even private, any other authenticated user can't see it. Let's suppose ther

[2019-07-21 15:02] MuhammedRefaat commented on #351
@bensmiley I did also make like mentioned but still getting the notifications, I even unimplemented FirebasePushModule but still getting them, worth to mention that I'm getting them only if the app is in bg or closed

[2019-07-21 22:40] aymenhs commented on #556
As I'm authenticating my users directly using firebase, the error was that after authenticating my users by using firebase I used:
[code]

instead of what's recommended in the API example:

[code]

[2019-07-21 22:40] #556 closed

[2019-07-21 22:41] aymenhs commented on #558
I had random behaviour because as I'm authenticating my users directly using firebase, the error was that after authenticating my users by using firebase I used:
[code]

instead of what's recommended in the API example:

[code]

[2019-07-21 22:41] #558 closed

[2019-07-22 07:09] bensmiley commented on #351
@MuhammedRefaat are you using the Firebase Cloud Functions script? If you are, push notifications will be being sent. You could disable that script to stop them.

[2019-07-22 07:36] MuhammedRefaat commented on #351
@bensmiley Actually I'm not using any Firebase Cloud Functions, on the other hand that's how I'm setting the configuration regarding the notification disable:

[code]

And yet, I'm receiving the push notification when the app is in bg or closed, by displaying the app main logo along with the sender name and message.

[2019-07-23 09:37] kanaksony commented on #554
Thanks it worked!

[2019-07-25 09:46] kanaksony opened #559 "How to change color of ChatScreen to match my app color theme?"
1. **Is the bug present in the demo Chat SDK project?**
No

2. **What modifications have you made to the Chat SDK?**
Nothing

3. **Android Version:**
9.0

Question: How can I change default color chat screen to my app's theme color? My app is having orange everywhere and chat screen opens with blue theme i.e. toolbar, add, back, send buttons all are blue.

How can I change these to orange?

Thanks

[2019-07-27 01:37] buntygoswami commented on #357
ERROR: Failed to resolve: com.github.shrikanth7698:ChatView:v0.1.2
Show in Project Structure dialog
Affected Modules: app

[2019-07-31 16:59] kanaksony commented on #559
Any help?

[2019-07-31 23:24] YAMexchange commented on #559
Hi - how do you change this setting - We are also having trouble finding where to do it.
Thanks- Stephen

[2019-08-01 14:02] aymenhs commented on #559
did you try changing styles under chatsdk-ui ?

![chatsdktheme](https://user-images.githubusercontent.com/1870186/62299726-c2918200-b475-11e9-802b-014dfa5dbd07.png)

[2019-08-01 14:12] kanaksony commented on #559
There should be some configuration for these changes.

[2019-08-01 16:42] bensmiley commented on #559
@kanaksony to do this you will need to subclass the ChatActivity and register your subclass with the framework. You can then provide your own customized xml file. See [this guide](https://github.com/chat-sdk/docs/blob/master/Android%20Customize%20UI.md).

[2019-08-05 15:57] Perick95 opened #561 "FetchEntityWithEntityID returns null"
Hi,
I've integrated the ChatSDK in my application and what I want to do now is to open the ChatActivity from an activity on my application. In order to do that I execute this code:

[code]

This call works well and create the thread if it does not exist or retrieve the thread if it already exists. My problem is how can I retrieve the variable user having its EntityId? I have tried with this method

[2019-08-07 08:18] timhuang1018 commented on #134
need to update messages as well,  any idea how to implement this ?

[2019-08-08 07:55] pawarprasad37 opened #562 "Importing chat-sdk-core in Android studio throws warning 'API 'variant.getJavaCompiler()' is obsolete and has been replaced with 'variant.getJavaCompileProvider()''"
1. Is the bug present in the demo Chat SDK project?
Not a bug but a warning being thrown by Android studio.

2. What modifications have you made to the Chat SDK?
No modifications; I am trying to import chat-sdk-core module in my Android project.

3. Android Version:
--

4. Steps taken to reproduce the problem:
Import chat-sdk-core module in Android studio 3.4.1 or higher in an existing project.

5

[2019-08-16 10:24] uszkaisandor opened #564 "Thread data lost after deleting app data"
How can I prove that thread data is ALWAYS up-to-date with Firebase, when I start chat activity with the given thread ID?

1. **Is the bug present in the demo Chat SDK project?**
I am not able to test it
2. **What modifications have you made to the Chat SDK?**
Nothing what affects thread sync
3. **Android Version:**
9.0 (API 28)
4. **Steps taken to reproduce the problem:**
Write some messages to t

[2019-08-16 12:41] bensmiley commented on #564
@uszkaisandor it sounds like something with your setup is incorrect. This could be caused by using a root path with special characters or a failure to call the `ChatSDK.auth().authenticate` method each time the app starts.

[2019-08-19 21:38] LadyKrystalline commented on #148
**Yes!**

[2019-08-21 07:13] ajuarmia opened #565 "Unable to start Login Activity"
1. **Is the bug present in the demo Chat SDK project?**
Yes
2. **What modifications have you made to the Chat SDK?**
no modification
3. **Android Version:**
3.4.1
4. **Steps taken to reproduce the problem:**
while launching login activity
5. **Expected result:**
Login activity UI
6. **Actual result:**
App getting crash with error as unable to start login activity
7. **Comments:**

[2019-08-24 12:59] TemaLeon opened #567 "Firebase-Rules.json is not found"

[2019-08-25 05:44] #567 closed

[2019-08-26 12:42] Mutumwa opened #568 "Where is the rules.json file? When i clicked the provided link to it im getting a "Page not found" error"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**

4. **Steps taken to reproduce the problem:**

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

[2019-08-26 13:55] uszkaisandor commented on #564
@bensmiley
I think that there isn't any authentication error.
I am changing messages' meta for customize message data, but the GreenDao only saves the messages's data for the first time. I am able to modify the data with threadMetaChanged subscription, if I am currently in that particular thread, but I want to ensure that all of the messages in the DB synchronized with the Firebase.

Can I do this

[2019-08-26 17:28] ahfizh opened #569 "rules.json file missing?"
i can't find the files, when i clicked the link, it's says 404 page not found

[2019-08-27 11:37] bensmiley commented on #569
The correct link has been added. You can see the latest rules file [here](https://github.com/chat-sdk/chat-sdk-firebase).

[2019-08-27 11:37] #569 closed

[2019-08-27 15:58] sapoluri opened #571 "How to set read permissions for facebook login?"
I notice no code in chatsdk that reads facebook profile info. The creation of loginButton is encapsulated very deep and I can't extract it to set permissions.

Are there any plans to implement APIs to enable reading of facebook profile info?

[2019-08-28 06:34] vechnetmakuyana commented on #568
if you have cloned the project the firebase rues is part of the files there let me paste them again.

`  "rules": {

    //".read": "auth != null",
    //".write": "auth != null",

    "$root": {

      // Clients can write a time value indexed by their user ID
      // The time must be now
      "time": {
        "$user_id": {
          ".read": "auth.uid == $user_id",
          ".write": "auth.u

[2019-08-28 15:45] ahfizh opened #573 "rules.json files error when publishing..."
i copying and paste the rules.json files, and when i want to publish it, appear an error messages
![Capture](https://user-images.githubusercontent.com/37889759/63871105-70e10680-c9e5-11e9-9be7-533fb06cffbf.JPG)

how can i fix it?

[2019-08-28 15:49] #573 closed

[2019-08-29 09:34] beyondeye opened #574 "Bug report: FirebaseReferenceManager incorrectly store references for Firebase Query"
1. **Is the bug present in the demo Chat SDK project?**
N/A
2. **What modifications have you made to the Chat SDK?**
N/A
3. **Android Version:**
N/A
4. **Steps taken to reproduce the problem:**
N/A
5. **Expected result:**
N/A
6. **Actual result:**
N/A
7. **Comments:**

I was debugging the code for FirebaseReferenceManager class and realized that if the
argument of the various methods of the class

[2019-08-29 09:43] bensmiley commented on #574
This has been fixed and will be released with the next version.

[2019-08-29 09:43] #574 closed

[2019-08-29 10:21] bensmiley commented on #568
The readme has been fixed.

[2019-08-29 10:21] #568 closed

[2019-09-03 13:35] #564 closed

[2019-09-04 08:30] uszkaisandor opened #580 "User doesn't appear in thread"
1. **Is the bug present in the demo Chat SDK project?**
No
2. **What modifications have you made to the Chat SDK?**
Nothing
3. **Android Version:**
API 28
4. **Steps taken to reproduce the problem:**
start thread with `ChatSDK().ui().startChatActivityForId(context, threadEntityId)`
5. **Expected result:**
Add user to thread.users on Firebase
6. **Actual result:**
User doesn't appear in thread
7. *

[2019-09-04 12:05] uszkaisandor commented on #580
The cause of the issue was that thread had no creator-entity-id, and add user to thread failed.

[2019-09-04 12:05] #580 closed

[2019-09-06 08:44] uszkaisandor opened #581 "Database permission error on Facebook authentication"
1. **Is the bug present in the demo Chat SDK project?**
No
2. **What modifications have you made to the Chat SDK?**
Nothing
3. **Android Version:**
Api 28
4. **Steps taken to reproduce the problem:**
`val credential = FacebookAuthProvider.getCredential(accessToken.token)`
`FirebaseSocialLoginHandler(context).signInWithCredential(context, credential)`
5. **Expected result:**
Successful authenticati

[2019-09-10 04:48] Ashi803 opened #582 "Multiple firebase projects"
Hi. I have an app which uses a primary firebase project for it's other functions. I would like to connect the chatsdk only to another firebase project. I don't think there is a way to do that.

` switch ( details.type ) {
                        case Username:
                            FirebaseAuth.getInstance().signInWithEmailAndPassword(details.username, details.password).addOnCompleteListener

[2019-09-10 11:54] wg-mblazin commented on #148
yes

[2019-09-10 19:09] npaulConnvertex commented on #254
Please give the answers before closing the issue.I am also facing the same issue.Please provide the solution for it.

[2019-09-10 19:10] npaulConnvertex opened #583 "Unable to fetch the message after killing the app but able to send the message please provide the solution for it."
I have actually installed the modules in my existing react native project
 I have just changed the ui look and feel of just the chatActivity

What i have done is pass a threadentityid from react native screen to ChatActivity using the NativeModules.

The ChatActivity opens up, the chat works for the first time perfectly, i.e chat messages are received and sent, but once the app is closed and opene

[2019-09-11 10:38] bensmiley commented on #583
@npaulConnvertex can you please provide more details about this issue? You need to fill out the issue template otherwise it's not possible for us to help.

[2019-09-11 12:27] bensmiley commented on #582
This has been added in v4.8.4 - see [update guide](https://github.com/chat-sdk/chat-sdk-android).

[2019-09-11 12:27] #582 closed

[2019-09-13 07:00] raghavsatyadev opened #584 "Proper Example of customised UI in demo project"
I was looking at the demo project and trying to find customised UI examples, but there is no proper example present, can you guys prepare it and add it? it would be really helpful to inexperienced users

[2019-09-13 09:28] npaulConnvertex commented on #583
Yes now the issues is solved.

Previously i just Autheticated only if ChatSDK.currentuser()  gave a null value.. It worked but i think it had failed to initialize the listeners as you said.

So yes now calling ChatSDK.auth().authenticate() everytime and is getting the job done.
Thank you @bensmiley

[2019-09-19 13:21] sosmita4 commented on #547
do you get any solution for this? I am getting the same error

[2019-09-19 13:24] bensmiley commented on #547
When do you actually get this issue? Can you give me steps to reproduce it?

[2019-09-19 13:28] sosmita4 commented on #547
When I am creating private thread and calling  ChatSDK.ui().startChatActivityForID(context, thread.getEntityID()); in subscribe

[2019-09-19 13:32] bensmiley commented on #547
Which version of the framework are you using?

[2019-09-19 13:38] sosmita4 commented on #547
4.8.4

[2019-09-19 14:16] bensmiley commented on #547
Are you calling this method after the the users have authenticated? If so, can you show me where you are adding this code? Also, do both of the users exist?

[2019-09-19 14:18] bensmiley commented on #547
Also, the original stack trace is being triggered by a message send but you don't show that in your code. Are you sure it's the same error?

[2019-09-20 06:16] sosmita4 commented on #547
I have not added any custom authentication. I am using chat sdk's default login.

Also, I am using the following code to add the user in the contact. please let me know if I am wrong anywhere.

`    UserWrapper wrapper = UserWrapper.initWithEntityId("123456");
        wrapper.metaOn();
        wrapper.onlineOn();
        User user = wrapper.getModel();

        ChatSDK.contact().addContact(user, C

[2019-09-20 07:49] sosmita4 commented on #547
As you said I have tested for two different users made authenticated the used then made contact but when I sent the message I got following error

` Process: com.genext.chatapplication, PID: 21813
    java.lang.AbstractMethodError: abstract method "java.util.HashMap co.chatsdk.core.handlers.PushHandler.pushDataForMessage(co.chatsdk.core.dao.Message)"
        at co.chatsdk.firebase.FirebaseThreadHa

[2019-09-20 14:01] uszkaisandor commented on #543
@thecmart
Is there any solution for this bug?

[2019-09-20 17:52] abdullahalshafi commented on #543
By Adding this into your Application class onCreate method will prevent the app from crashing.

 RxJavaPlugins.setErrorHandler(throwable -> {
            Log.e(TAG, "error-> " + throwable);
        });

[2019-09-23 13:38] salmene commented on #255
Did you find solution for this problem?

[2019-09-25 04:12] milindrc opened #586 "App crash because on image load error"
E/BitmapFactory: Unable to decode stream: java.io.FileNotFoundException: /v0/b/trado-bfa62.appspot.com/o/files/77dpugigpgtk5telgi5mot3did_image.jpg (No such file or directory)

This error came when there was a image sent in the chat, And i added a new user to the room.

Now the main activity isn't even opening up because of this error.

[2019-09-25 06:36] nooralam6 commented on #186
hi, i am facing the same issue, can you tell me what firebase configuration was wrong, and how did you made it work?

[2019-09-25 08:02] uszkaisandor opened #587 "Question: How can I refresh cache for update user avatar and meta?"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**

4. **Steps taken to reproduce the problem:**

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

[2019-09-25 08:09] uszkaisandor commented on #587
How caching mechanism works? How can I clear cache?

[2019-09-25 09:54] uszkaisandor opened #588 "Image cropper starts after picking from gallery"
1. **Is the bug present in the demo Chat SDK project?**
I was not able to test it in the ChatSDK demo
2. **What modifications have you made to the Chat SDK?**
Nothing related with the image choosing
3. **Android Version:**
9.0 API 28
4. **Steps taken to reproduce the problem:**
Scroll up in a group chat with a large ammount of image messages
5. **Expected result:**
Image cropper activity opens imm

[2019-09-25 10:38] uszkaisandor commented on #543
@abdullahalshafi
Your solution solves the crash, but if I deny the permission multiple times, it shows a toast with an ugly text, and can't request the camera permission again only after app restart. Did you find a solution to this too?

[2019-10-01 18:03] lbadias opened #589 "App hangs after authenticate completes"
This is a bug originally reported on the iOS version. But it is present on the android version too.

Using Firebase version.

1. Is the bug present in the demo Chat SDK project?
Yes

2. What modifications have you made to the Chat SDK?
Nothing

3. Android Version? Device or simulator?
Device (Samsung), Android 7.0

4. Steps taken to reproduce the problem:
call authenticate if user have large data

[2019-10-02 11:25] bensmiley commented on #589
Hi @lbadias is there any chance you could provide me with your codebase and a login which presents this issue? I'd be happy to look at it to see where the bottleneck is happening.

[2019-10-02 19:42] lbadias commented on #589
Hi @bensmiley, is there any way I could send to you privately?

I have updated the demo (version 4.8.4) with an updated Firebase configuration, authenticating via Custom Token.

[2019-10-03 10:57] hristoyordanov opened #591 ""+" button is missing on tab CHAT ROOMS"
1. **Is the bug present in the demo Chat SDK project?**
No. The bug is only present in my app.

2. **What modifications have you made to the Chat SDK?**
No modifications.

3. **Android Version:**
version 9

4. **Steps taken to reproduce the problem:**
Open the app, go to CHAT ROOMS tab

5. **Expected result:**
To be able to create chat rooms by clicking on the + button

6. **Actual result:**
The +

[2019-10-07 10:20] hristoyordanov commented on #591
Fixed. I had to add
"config.publicRoomCreationEnabled(true);" in the On call method which was missing in the tutorial I was following.

[2019-10-07 10:20] #591 closed

[2019-10-09 13:09] RajMobile opened #592 "Gradle Sync Errors - Android SDK"
I downloaded Android Studio and created an empty project MyApplication.

1) Downloaded SDK for Android and Imported all available functions (firebase_plugin, facebook etc. were not there, instead Social etc.
2) Followed https://github.com/chat-sdk/chat-sdk-android/blob/master/README
3) Created Firebase and also Deployed
4) Followed https://github.com/chat-sdk/chat-sdk-android/wiki/Chat-SDK-Android

[2019-10-09 17:02] RajMobile commented on #592
Found it and the MINSDK issue is resolved. I set the value in gradle.properties.
One error:
ERROR: Failed to resolve: co.chatsdk.chatsdk:chat-sdk-firebase-push:4.8.4.3

[2019-10-09 17:38] RajMobile commented on #592
This is resolved too, !

[2019-10-09 17:38] #592 closed

[2019-10-15 06:52] PraveenSheroes opened #593 "Chat SDK setup"
1. **Is the bug present in the demo Chat SDK project?**
No

2. **What modifications have you made to the Chat SDK?**
Nothing

3. **Android Version:**
 minSdkVersion 19
        targetSdkVersion 28

4. **Steps taken to reproduce the problem:**
After adding dependencies listed in readme.md

    implementation 'co.chatsdk.chatsdk:chat-sdk-firebase-adapter:4.8.4'
    implementation 'co.chatsdk.chatsdk:

[2019-10-15 16:28] sapoluri commented on #542
Saw something similar:
2019-10-15 09:19:54.186 5825-5825/com.legato.music E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.legato.music, PID: 5825
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.legato.music/co.chatsdk.ui.login.SplashScreenActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.View androidx.constraintlayout.widg

[2019-10-18 07:50] #593 closed

[2019-10-21 20:40] mshenawy22 opened #594 "profile photo gets reverted (removed)"
1. **Is the bug present in the demo Chat SDK project?**
YES
2. **What modifications have you made to the Chat SDK?**
No

3. **Android Version:**
Android 9-8
4. **Steps taken to reproduce the problem:**
profile
click on the profile avatar
select image from the gallery , crop , press the tick (ok)
go to chats , go back to profile
profile photo disappears

5. **Expected result:**
profile photo should

[2019-10-22 08:21] devindercnw commented on #594
hello @mshenawy22  i am getting permission denied error. Can you help me?

[2019-10-22 08:57] devpranav2104 opened #595 "Firebase Database error: Permission Denied"
1. **Is the bug present in the demo Chat SDK project?**
No

2. **What modifications have you made to the Chat SDK?**
Not any
3. **Android Version:**
8

4. **Steps taken to reproduce the problem:**
When user1 wants to message to user 2. it doesn't open next screen with message box
5. **Expected result:**
 to send message to user 2
6. **Actual result:**
it shows toast message with Firebase Database

[2019-10-23 10:17] omfg74 opened #596 "NPE on startSplashScreenActivity"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**
7
4. **Steps taken to reproduce the problem:**
Following documentation
5. **Expected result:**
Start something
6. **Actual result:**
 Caused by: java.lang.NullPointerException: Attempt to invoke interface method 'void co.chatsdk.core.interfaces.InterfaceAdapter

[2019-10-23 18:10] zhiyong17 commented on #533
error found in manual 4:
** error above found in authenticateWithCachedToken() method
ChatSDK.auth().**authenticate()**.observeOn(AndroidSchedulers.mainThread())

Details of error:
error: method authenticate in interface AuthenticationHandler cannot be applied to given types;
required: AccountDetails
found: no arguments
reason: actual and formal argument lists differ in length
![error](https://use

[2019-10-24 14:09] tadasz commented on #148
let's do it!

[2019-10-31 03:46] Creative-Ash commented on #148
yes

[2019-11-07 13:21] vikrammittal opened #597 "Scroll issue and push issue"
1. **Is the bug present in the demo Chat SDK project?**
Yes.
-- If there are too many messages, sdk will load only latest 30 messages and after that when you reach top, the onLayoutChangeListener will trigger and list is scrolled to bottom. You will even not be able to use swipeToRefresh. Therefore app is not able to load previous messages.
-- If you are chatting with someone and on the chat scree

[2019-11-09 15:28] AkashGalani commented on #143
Go to project/.idea/libraries folder on your file system and see which libraries are different.
You will have to manually include these libraries with the same version in your build.gradle file.
Then, sync your project.

Example [Here](https://icetutor.com/question/all-com-android-support-libraries-must-use-the-exact-same-version-specification/)

[2019-11-13 02:07] ganico commented on #148
yes

[2019-11-15 11:33] marceariel commented on #148
Yes

[2019-11-15 22:06] marva2013 opened #598 "list contact in group"
How can i get list of all contacts in group with and get the admin of the group. Thank you

[2019-11-21 22:20] hristoyordanov commented on #66
Hi all,
"We have made a number of improvements to the message view in iOS which could be ported to Android.

1. Add section headers which have the message date
2. **Add the user name below the avatar for group / public chats**"

From what I can see 2 has not been implemented for Android yet - anyone can advise how I can do that - which is the file at least? - TextMessageViewHolder.java or?

[2019-11-22 03:03] gitmartin opened #599 "Creating a private thread not working"
1. **Is the bug present in the demo Chat SDK project?**
not sure
2. **What modifications have you made to the Chat SDK?**
none
3. **Android Version:**
5+
4. **Steps taken to reproduce the problem:**

5. **Expected result:**
new thread visible on my firebase account
6. **Actual result:**
no new thread
7. **Comments:**
Following the documentation for Android
https://github.com/chat-sdk/docs#creating

[2019-11-24 02:12] gitmartin commented on #599
actually it was a firebase error I was getting.
I found I had to change the firebase rules legacy type to:

`            "type": {
              // Legacy type value for backwards compatibility
              // 0x0 (0) - Group
              // 0x1 (1) - Public
              ".validate": "newData.val() == 0 || newData.val() == 1 || newData.val() == 2 || newData.val() == 4  || newData.val() == 10"

[2019-11-25 13:08] Amigo927 commented on #148
yes

[2019-11-26 13:24] hristoyordanov commented on #66
Can someone apply this change in the next version for Android, please?
- **Add the user name of the sender below the avatar in the message for group / public chats**

[2019-11-27 11:10] DuaaBassam opened #600 "Sometimes the user appears online and is originally not available(Last Online Indicator)"

[2019-11-28 01:32] mshenawy22 commented on #148
yes vote

[2019-11-29 12:15] himaanshi opened #601 "Message history list is not synced ."
1. **Is the bug present in the demo Chat SDK project?**
Not sure.

2. **What modifications have you made to the Chat SDK?**
No modifications till now.

3. **Android Version:**
Api level 24

4. **Steps taken to reproduce the problem:**
a. Send message to user A .
b. Turn net off for user B.
c. Message read by user A.
d. Turn the net on and check msg, its still showing Delivered.
e. Checked the thre

[2019-12-09 16:03] dutchplayers opened #602 "Doesn't work out-of-the-box and tutorial is out-dated"
1. **Is the bug present in the demo Chat SDK project?**
No
2. **What modifications have you made to the Chat SDK?**
I tried the tutorial twice and i tried to implement some things from the tutorial to the updated source code.
3. **Android Version:**
Not launched on a phone or emulator yet because it won't build.
4. **Steps taken to reproduce the problem:**
Out-of-the-box gradle build sync will wor

[2019-12-09 17:34] bensmiley commented on #602
I've just pushed a fix, can you try again now?

[2019-12-09 18:12] dutchplayers commented on #602
I can run the app now, thank you

[2019-12-09 18:27] #602 closed

[2019-12-11 19:02] losocarrat opened #603 "How to integrate chat functionality in my app :("
1. I don't want to create a chat app.
2. Nobody wants to create a chat app.
3. There are already many chat apps.
4. What everyone wants is to INCLUDE A BASIC CHAT FUNCTIONALITY in
their own app. In an activity of your own existing app.
5. Why does nobody explain this?

I have already created my own app (kotlin).
I have already integrated the sdk api into my app.
I just need a basic chat functional

[2019-12-11 19:06] bensmiley commented on #603
If you have a Firebase app, add the Chat SDK to your project using the documentation then just call

[code]

After your user has logged in and:

[code]

When they log out. Then you can use the activities freely in your app:

[code]

For example.

[2019-12-17 07:31] Devmobilesutra opened #604 "How can I store register users and all chat history in my Firebase database?"
**What modifications have you made to the Chat SDK?**
I want to store all the register user info and chat message in my firebase database .
I have android chat sdk and open it in android studio. I am created firebase project on console and put google-services.json file in chat sdk but my history not save in firebase .
So how can i do it?

[2019-12-17 21:29] hristoyordanov commented on #594
I have the same problem - and all my users too. It's strange because I didn't have it in the beginning but suddenly it started happening without changing anything.

[2019-12-25 11:18] Antol commented on #148
+1

[2019-12-27 16:44] maironsoft commented on #592
Hi @RajMobile. How did you solve this?

Thanks!

[2020-01-20 22:44] maironsoft commented on #537
Hi. I have the same issue. Is there any solution? Thanks!

[2020-01-21 13:16] loicleprogrammeur commented on #148
+1

[2020-01-21 15:34] bensmiley commented on #537
Hi @maironsoft are you using the latest version of the project? If so, can you post your exact error?

[2020-01-21 16:14] maironsoft commented on #537
Hi @bensmiley. I am using the version 4.8.9. The error is the following:

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.cannatrac.app, PID: 32017
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.cannatrac.app/co.chatsdk.ui.login.LoginActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'int android.view.View.getId()' on a null object refe

[2020-01-21 16:16] bensmiley commented on #537
@maironsoft could you also share the code you use to setup the Chat SDK?

[2020-01-21 16:39] maironsoft commented on #537
ok. In build.gradle project I have:

[code]

in my build.gradle app:

[code]
In my MainActivity:

[code]

In another activity, where I launch the chat:

`ChatSDK.ui().startSplashScreenActivity(getApplicationContext());`

The error is the following in a file of the SDK (attach image):
![image](https://user-images.githubusercontent.com/17838462/72823812-44eb4980-3c42-11ea-8a92-1e7dde24b68c.png)

I s

[2020-01-21 16:42] maironsoft commented on #537
@bensmiley I'm sorry. I attached the image incorrect.

![image](https://user-images.githubusercontent.com/17838462/72824349-1a4dc080-3c43-11ea-953b-6dd416406ebe.png)

[2020-01-23 03:09] egpayawal opened #606 "Release Build Can't Login"
I fork your repo then branchout and commit some modification. I already tried to make it submodule and created a jitpack for my fork branch but I'm having an issue when I create a release build. No issue on debug build, it can login in firebase. Please see the attached image below. I hope you can help me with this issue.

@bensmiley

<img width="1358" alt="Screen Shot 2020-01-23 at 11 03 49 AM" sr

[2020-01-24 18:27] o9simon opened #607 "Android Auto compatibility issue"
The commit made on Dec 19 2019 adds support for Android Auto. Problem is, the ChatSDK core manifest specifies that the app uses Android Auto and so, when uploading an app to the Play Store, it gets rejected since it's not compliant with the Android Auto standards which are very strict. Can we make this an option please? In the meantime, I'll use an older version.

[2020-01-24 18:28] bensmiley commented on #607
Why was it rejected? Can you share some details?

[2020-01-24 18:34] o9simon commented on #607
When I uploaded the build, it told me I need to opt in the Android Auto program. I didn't really think about it, just checked the option. Re-uploaded and sent my APK to the Play Store, it got rejected an hour later.

The message is:

At this time, we are only accepting apps within the Media or short form Messaging categories for Android Auto. Media apps that use TSS engine readout for content are

[2020-01-25 16:52] o9simon commented on #607
For those that have the same problem, I downgraded to 4.8.2, rebuilt the APK and resubmitted to the Play store.

[2020-01-25 17:03] bensmiley commented on #607
@o9simon did you try adding this to your manifest:

[code]

[2020-01-25 17:04] o9simon commented on #607
Thanks, I will try it the next time I update my app.

Would this have any effect on any code in ChatSDK that expect this to be set in the manifest?

[2020-02-06 11:09] Carlos1404 opened #608 "Remove MessageAction in ChatActivity"
Hi, there are different message actions when you get a long click on a message in ChatActivity: None, Delete, Forward, Copy.
I didn't find the solution to disable them or to disable one of them. I hope you can help me with this issue.

[2020-02-21 19:09] Bendor opened #609 "Firebase rules file not available"
Hi! I have tried load firebase rules file from documentation:
https://github.com/thecmart/manuals/blob/master/Tutorials/Manual%203%20Integrating%20ChatSDK%20into%20the%20new%20project.md

But the rules file 'https://github.com/chat-sdk/chat-sdk-android/blob/master/firebase-rules.json' not found:
![image](https://user-images.githubusercontent.com/4973472/75063843-cc083780-54f6-11ea-8bae-ae51af773a0

[2020-03-19 15:52] mwaqassatti commented on #589
@bensmiley Any solution to this problem, i face the same issue.
When the app is launched and after initialing the chatsdk and if user have lot of chat history then on opening the threads list screen hangs it takes 20 sec to settle up. After that it works fine. I thing it's loading the chat history but this should be background thread.
Any clue to how to resolve this issue. Thanks

[2020-03-30 04:46] rikongha commented on #609
you can get the file https://github.com/chat-sdk/chat-sdk-firebase/blob/master/firebase.json

[2020-03-30 16:11] mehtaketan7 commented on #383
@bensmiley  what should I set in config.firebaseRootPath("") if I am accessing my personal realtime database?

[2020-03-30 16:12] bensmiley commented on #383
You can put any string. In your database the data will be stored at: `/rootPath/...`

[2020-03-30 20:00] aymenhs opened #610 "push using firebase: index.js script error,detected and resolved"
1. **Is the bug present in the demo Chat SDK project?**
yes

2. **What modifications have you made to the Chat SDK?**
index.js modified
3. **Android Version:**
8 , 9 and 10
4. **Steps taken to reproduce the problem:**
I integrated the chat into my project since 2 years, when I wanted to use the push functionalities (which worked before 1 year ago in 2019), I got Firebase internal error :s

5. **Ex

[2020-03-30 20:04] aymenhs commented on #595
you've to verify your database access rules
I used those ones :
https://github.com/chat-sdk/chat-sdk-firebase/blob/master/chat-sdk-rules.json

[2020-03-31 15:11] rikongha commented on #603
any luck with this? I am going down the same route and could use some assistance

[2020-04-02 22:13] rikongha opened #611 "help with starting chatActivityForID"
I was able to get Mainactivity to startup but for my use case, I only need to have the chat screen (I'll be communicating with just one bot). Trying to start  ChatSDK.ui().startChatActivityForID(context, threadEntityId) fails and returns this error

[code]

[2020-04-03 12:50] bensmiley commented on #611
@rikongha, can you show me the code you are using to set up the Chat SDK? In your main application method?

[2020-04-03 14:47] #595 closed

[2020-04-03 16:20] rikongha commented on #611
@bensmiley thanks for reaching out

here's what I have on there

   try {
            val config = Configuration.Builder()
            config.facebookLoginEnabled(false)
            config.twitterLoginEnabled(false)
            config.anonymousLoginEnabled(true)
            ChatSDK.initialize(
                context,
                config.build(),
                FirebaseNetworkAdapter::class.ja

[2020-04-04 10:45] bjs007 commented on #180
Did anyone get a solution to this? I am unable to create a chat with a contact. It always shows firebase permission denied error.

[2020-04-04 10:46] bensmiley commented on #180
Is this with your database or our test database? Did you added the security rules?

[2020-04-04 12:58] bjs007 commented on #180
I created a database as provided in the instruction to start the app. I used these rules
https://github.com/chat-sdk/chat-sdk-firebase/blob/master/chat-sdk-rules.json. It gives firebase permission error.

However, if I replace with following. It works.

(* permissive rule)
{
"rules": {
".read": "auth != null",
".write": "auth != null",
}
}

[2020-04-04 22:22] bjs007 opened #612 "App is crashing on creating a private thread of more than two users."
1. **Is the bug present in the demo Chat SDK project?**
Yes. I am just following manual to install ChatSDK present here
https://github.com/thecmart/manuals/tree/master/Tutorials
2. **What modifications have you made to the Chat SDK?**
None
3. **Android Version:**
9.0
4. **Steps taken to reproduce the problem:**
    1. Created three virtual devices on Android sdk.
    2. Created three users in the

[2020-04-08 08:54] gajicm93 commented on #322
Hi, what happened to this? I'm not having a specific issue, I'm still evaluating the usability of this library for integration with existing project, but I'm wondering how does Chat SDK work with existing FirebaseMessagingService that I'm already using in a project?

I believe this to be a common use case. Thanks. @bensmiley @thecmart

[2020-04-08 10:18] bensmiley commented on #322
Hi @gajicm93,

The project has a dependency on FirebaseMessaging so as long as there isn't a conflict between the versions of the Gradle versions I think there wouldn't be any problem.

The best thing to do would be to just add the Chat SDK dependency to your project and see if you have an issue.

[2020-04-08 14:15] overvox commented on #180
Having the same problem as @bjs007

[2020-04-08 14:20] bensmiley commented on #180
Can you try with this:
https://github.com/chat-sdk/chat-sdk-firebase/blob/master/chat-sdk-rules.json

[2020-04-08 14:42] overvox commented on #180
Looks like these changes fixed the issue. Thanks!

[2020-04-08 14:43] #180 closed

[2020-04-08 15:06] aymenhs commented on #612
I've the same errors too ! I tested with two physical devices (Android 8 on Huawei P10 lite , Android 10 on Huawei P10 lite and two emularos (android 10 & 9 ). I've always the same error when more than 2 users on a private chat.
I'll debug and if i find a solution will share.

[2020-04-08 15:08] bensmiley commented on #612
Which version of the project are you using?

[2020-04-08 15:12] aymenhs commented on #612
for me  4.8.5a4

[2020-04-08 15:16] bensmiley commented on #612
The latest version is 4.8.9. The videos we public go out of date, so it's always best to look at the main project page.

[2020-04-08 15:26] aymenhs commented on #612
as I'm adding chat sdk manually the only latest tagged version wasn't 4.8.9 ,where to find the code for  4.8.9 please?
https://github.com/chat-sdk/chat-sdk-android/releases/tag/4.8.5a4  is ok
BUT
https://github.com/chat-sdk/chat-sdk-android/releases/tag/4.8.9   not ok

[2020-04-08 15:28] bensmiley commented on #612
You could clone the repo to get the latest version or if you need a release you can useuse 4.8.12.

https://github.com/chat-sdk/chat-sdk-android/releases

[2020-04-08 15:29] aymenhs commented on #612
ok I'll do and test ,thank you

[2020-04-08 23:05] aymenhs opened #613 "ChatSDK.db().fetchUserWithEntityID regression"
1. **Is the bug present in the demo Chat SDK project?** not sure
2. **What modifications have you made to the Chat SDK?** nothing
3. **Android Version**: 9

4. **Steps taken to reproduce the problem:**
USER 1 creates a private thread , USER 2 sent an interest to join the thread
from USER1's session (and phone) I wanted to retrieve USER2 by UID and add it to the private thread
just calling :
[code]

[2020-04-08 23:07] aymenhs commented on #612
I updated my project Ben to use 4.8.12 ,there're a regression when using : I created an issue
https://github.com/chat-sdk/chat-sdk-android/issues/613

[2020-04-09 10:35] bensmiley commented on #613
That means that no user exists in your local database with that entity ID. You can use something like this:

[code]

[2020-04-09 14:58] aymenhs commented on #613
good it works fine ! I tested 4.8.12 on three devices simultaneously chatting within a private room:
works fine and I receive push
by the way Ben the push script contains a small error:
https://github.com/chat-sdk/chat-sdk-android/issues/610

[2020-04-09 14:58] #613 closed

[2020-04-12 15:03] bjs007 commented on #612
I tried with version 4.8.9 using 3 emulators. Apps are still crashing.

[2020-04-12 15:44] aymenhs commented on #612
try with 4.8.12 it works fine :) private chat thread with 3 or more users

[2020-04-13 06:23] bjs007 commented on #612
With 4.8.12 it works for sometimes and crashes most of the time. I might be doing something wrong not sure what?

I am using MacBook with 8 GB RAM (if it matters).
Two emulators
With API level 28, Android 9.0.
And one Motorola Phone Android 6.0

I am not using the push module.

These are my dependencies
<p>

    implementation 'androidx.appcompat:appcompat:1.1.0'
    implementation 'androidx.const

[2020-04-14 08:08] MOhsain opened #614 "Get Specific User Data from Threads"
How can we get specific user data from threads like key value pairs in ThreadMetaData?

[2020-04-14 12:02] bensmiley commented on #614
@MOhsain can you provide me with a clearer idea of what you need. I don't really understand.

[2020-04-14 12:27] MOhsain commented on #614
Basically i want to read these data from users in threads, like
ThreadMetaData class provides all keys and values against threads so i want
a specific user data from thread?
hope so this screenshot will help you.
[image: image.png]

[2020-04-14 12:42] bensmiley commented on #614
@MOhsain The screenshot didn't upload. The thread meta-data can be accessed like this:

[code]

There is not one meta map per user, just one for the thread. If you wanted to store user-specific data you would need to add keyed data to the meta map like:

[code]

[2020-04-14 12:51] MOhsain commented on #614
Dear Chat-Sdk/Chat-Sdk-Android,  it sent from my side and showing in my
sent mails although i'm sending again.

thread.setMetaValue("[user-id]/key", "value"); this line of code add
data in Threads Meta Child, not in User child

i attached again screenshot please check

[image: image.png]

On Tue, Apr 14, 2020 at 5:42 PM Ben Smiley <notifications@github.com> wrote:

[2020-04-14 13:04] bensmiley commented on #614
@MOhsain,

You need to check the actual issue on Github:

https://github.com/chat-sdk/chat-sdk-android/issues/614

The image doesn't work. There is no API to set metadata for the user-thread link. If you wanted to do that you would need to do it manually using the Firebase library. You can do it like this:

[code]

But you don't need to do that, you can add it to the standard thread meta data as I

[2020-04-14 13:09] MOhsain commented on #614
Basically my scenarios is when i delete a user from one to one chat then it
added delete key against that user. And now i want to fetch all the users
who's child does not contain delete key.

On Tue, Apr 14, 2020 at 6:04 PM Ben Smiley <notifications@github.com> wrote:

[2020-04-14 13:11] bensmiley commented on #614
You mean all the users from the whole database?

[2020-04-14 13:12] MOhsain commented on #614
No against the single thread.

On Tue, Apr 14, 2020 at 6:11 PM Ben Smiley <notifications@github.com> wrote:

[2020-04-14 13:12] MOhsain commented on #614
if screenshot will load from you side then hope so you will get my problem
:(

On Tue, Apr 14, 2020 at 6:12 PM Mohsan Ikram <mohsanikram777@gmail.com>
wrote:

[2020-04-14 13:13] MOhsain commented on #614
![image](https://user-images.githubusercontent.com/22424925/79228901-a0ad2380-7e7b-11ea-9bf1-1405501b2545.png)

[2020-04-14 13:14] bensmiley commented on #614
You can just do it like this:

[code]

[2020-04-14 13:15] MOhsain commented on #614
Please check this
![image](https://user-images.githubusercontent.com/22424925/79229115-f255ae00-7e7b-11ea-90a1-c6240fda2a4d.png)

[2020-04-14 22:59] aymenhs commented on #612
have you solved your problem?

[2020-04-15 06:22] bjs007 commented on #612
Nope.

[2020-04-15 09:17] bensmiley commented on #612
We are about to release a new version of the library, version 5 which will fix all of these issues and has a lot of improvements. So it's not worth fixing this on v4. But a workaround is to add this:

[code]

Add this after calling ChatSDK.initialize.

That will stop the app from crashing and print a stack trace instead.

[2020-04-15 17:22] robyka400 opened #615 "Proguard crash"
Hey, I didn't found any specification about the needed **proguard-rules**
Currently I'm using version **4.8.9**,  and my app is crashing, when **minify** is enabled at `ChatSDK.initialize()`

Here's my setup:

[code]
My chat is in a different module and I'm using this proguard configuration:
[code]

[2020-04-16 13:03] optimus-droid commented on #180
It's fixed the android firebase write permission issue but now web is not working. I am having 3 way communication i.e. Web, iOS, Android.
The previous rules was working between Web and iOS but not with Android.
The following error I a getting on Web -

`Error: permission_denied at /sohavest: Client doesn't have permission to access the desired data. all.js:1450:247802
Cross-Origin Request Blocked

[2020-04-16 13:08] bensmiley commented on #180
@optimus-droid can you try with this version of the web project:

https://github.com/chat-sdk/chat-sdk-web

Also you can try it here:

http://web.sdk.guru/

If you can try to replicate the issue and tell me how to do it, I'll get it fixed.

[2020-04-17 21:26] WlanWerner commented on #609
Referenced to #568

[2020-04-20 07:31] MOhsain opened #616 "Progress Dialog is deprecated"
I update my project with latest SDK, and i got this issue into many classes of "chat_sdk_ui" package.
How can resolve this?
Error ---> [deprecation] ProgressDialog in android.app has been deprecated

[2020-04-20 11:35] MOhsain opened #617 "Update SDK , Got Errors of Deprecation"
Error -->
1- [deprecation] ProgressDialog in android.app has been deprecated
2- [deprecation] FirebaseErrors in co.chatsdk.firebase has been deprecated
3- [deprecation] TaskDescription(String,Bitmap,int) in TaskDescription has been deprecated
4- error: cannot find symbol class ChatOptionType
5- [deprecation] startPublicThreadEditDetailsActivity(Context,String) in InterfaceAdapter has been deprecat

[2020-04-20 13:06] bensmiley commented on #617
Are these issues causing a crash or a build time error or are they just producing warnings?

[2020-04-20 13:38] MOhsain commented on #617
These are  build time errors when i want to run the app then they are
visible on Log and Android Studio stuck on these error and can't move
forward.

On Mon, Apr 20, 2020 at 6:06 PM Ben Smiley <notifications@github.com> wrote:

[2020-04-20 13:39] bensmiley commented on #617
Which version of android are you using? Usually, a deprecated method doesn't cause a build error. Can you post a screenshot?

[2020-04-20 13:43] MOhsain commented on #617
Errors--->
![image](https://user-images.githubusercontent.com/22424925/79758265-a05acf80-8336-11ea-8220-b8be21b36246.png)

Android Studio Verison -->
![image](https://user-images.githubusercontent.com/22424925/79758365-bff1f800-8336-11ea-871d-90f4e62b15d9.png)

[2020-04-20 13:44] bensmiley commented on #617
From the message we can see that the actual problem is "Cannot find ChatOptionType". The deprecation messages are just warnings. Which version of the Chat SDK are you using?

[2020-04-20 13:51] MOhsain commented on #617
Basically i just want to update my "chat-sdk-ui" and "chat-sdk-core"
modules.For this, I downloaded your Latest ChatSDK project from github, get
and import these  "chat-sdk-ui" ,"chat-sdk-core" modules in my current
project and then i'm getting these error messages.

On Mon, Apr 20, 2020 at 6:44 PM Ben Smiley <notifications@github.com> wrote:

[2020-04-20 14:22] bensmiley commented on #617
Are you including the Chat SDK by importing the modules? You need to double-check that you have not got mismatched versions. The error I see is related to `ChatOptionType` variable which was removed some time ago. You need to make sure that all of the Chat SDK modules you're using are of the same version. Then delete the build folders, clean the project and in Android Studio do "File -> Invalidate

[2020-04-21 05:13] MOhsain commented on #617
Thanks

On Mon, Apr 20, 2020 at 7:22 PM Ben Smiley <notifications@github.com> wrote:

[2020-04-23 06:57] MOhsain opened #618 "How to send Reply of the message?"
How can i send reply of message like in Whatsap?

[2020-04-28 18:43] Zacle opened #619 "Unable to see if user is authenticated"
1. **Is the bug present in the demo Chat SDK project?**
I don't know

2. **What modifications have you made to the Chat SDK?**
I'm logging in  from my own fragment
3. **Android Version:**
3.4+
4. **Steps taken to reproduce the problem:**
`
             @Override

        public void onResume() {

        super.onResume();
        if (!ChatSDK.auth().isAuthenticatedThisSession()) {
            Log.

[2020-04-29 02:57] #619 closed

[2020-05-01 13:56] Zacle opened #620 "ChatSDK MainActivity doesn't exit"
1. **Is the bug present in the demo Chat SDK project?** Perhaps

2. **What modifications have you made to the Chat SDK?** None

3. **Android Version:** 8.1

4. **Steps taken to reproduce the problem:**

`

         public boolean onOptionsItemSelected(@NonNull MenuItem item) {
             switch (item.getItemId()) {
                case R.id.chats:
                    Intent intent = new Intent(t

[2020-05-02 08:44] Zacle commented on #620
@bensmiley @thecmart  Please reply I need your help. Also how can I get the list of users belonging to a specific thread???

[2020-05-02 10:54] bensmiley commented on #620
Can you show me your Chat SDK setup code?

[2020-05-02 11:06] Zacle commented on #620
Here's my ChatSDK  setup code
`
@Override

        public void onCreate() {
        super.onCreate();

        Context context = getApplicationContext();

        try {
            // Create a new configuration
            Configuration.Builder builder = new Configuration.Builder();

            // Perform any other configuration steps (optional)
            builder.firebaseRootPath("prod");

[2020-05-02 15:32] Zacle commented on #620
@bensmiley it's my final year project. Please could you tell me how can I get the list of users belonging to a specific thread???

[2020-05-02 16:38] bensmiley commented on #620
Did you try `thread.getUsers()`

[2020-05-04 14:57] parulgarg004 commented on #243
@bensmiley we are facing this issue, Can you please help?

[2020-05-04 16:09] #620 closed

[2020-05-07 06:56] ketanspryox opened #621 "Notification is not getting triggred when Chat from two devices android followed all the steps as given in doc"
1. **Is the bug present in the demo Chat SDK project?**
: not present in demo chat there it is working fine

2. **What modifications have you made to the Chat SDK?**
No modification  did as it is
3. **Android Version:**
android version 8 oreo and android Q

4. **Steps taken to reproduce the problem:**
followed all the steps as doc

5. **Expected result:**
Should receive Notification on Background

[2020-05-11 15:00] bensmiley commented on #537
@maironsoft as [per the instructions](https://github.com/chat-sdk/chat-sdk-android#initializing-the-chat-sdk), you need to have the ChatSDK.initialize code in your main Application subclass:

So you will have a class:

[code]

Setup the Chat SDK in the `onCreate` method.

Many thanks

[2020-05-11 15:28] bensmiley commented on #621
You should make sure that you have installed the cloud script:

https://github.com/chat-sdk/chat-sdk-firebase#setup-firebase-cloud-functions

And followed any necessary steps to enable Firebase Cloud Messaging.

https://firebase.google.com/docs/cloud-messaging/android/client

If you have done this, could you check the Firebase Console Functions tab and see if there are any errors?

[2020-05-12 14:34] iamso1 opened #622 "how to evaluate messages received size?"
Hi sir,

I'm curious about the

in Performance and Scalability section
How do you evaluate the size of the received messages?
Are there any benchmark we can reference to?
Such as one character, Chinese character, or length of sentence.

[2020-05-12 19:31] cassiolucianodasilva opened #623 "error: duplicate value"
Adding the chat SDK to the project
The following error occurs

Is the bug present
error: duplicate value for resource 'attr/orientation' with config ''.

[2020-05-12 19:35] bensmiley commented on #622
Hi @iamso1 that was a pure estimate but since, we have done some profiling so we have some more accurate data:

Login: 850 bytes
Search for user: 1.5kb (1 user in list)
Create Thread (1-to-1): 2.2kb

Send message (1 char): 1.75kb
Send message (10 char): 1.75kb
Send message (100 char): 2.0kb

Create Thread (3 user group): 3kb
Send message (1 char): 3.2kb
Send message (10 char): 3.2kb
Send message (

[2020-05-12 19:35] #622 closed

[2020-05-14 03:56] anarayn opened #624 "Error while following tutorial"
1. **Is the bug present in the demo Chat SDK project?**
Not sure, I followed the steps described in turorial
2. **What modifications have you made to the Chat SDK?**
No changes, I did.

[code]

[code]
3. **Android Version:**
9, Funtouch OS_9.2. Getting a similar problem in other OS as well.
4. **Steps taken to reproduce the problem:**
Iny my main activity I am initializing chatsdk and then I get t

[2020-05-14 07:22] anarayn opened #625 "Getting Circular dependency error"
1. **Is the bug present in the demo Chat SDK project?**
Yes
2. **What modifications have you made to the Chat SDK?**
I imported modules and try to compile.
3. **Android Version:**
    Android 9
4. **Steps taken to reproduce the problem:**
Import below modules to the existing project
`':chat-sdk-firebase-adapter', ':chat-sdk-core', ':chat-sdk-ui', ':chat-sdk-firebase-push',':chat-sdk-firebase-file-

[2020-05-14 14:30] bensmiley commented on #625
Can you show me exactly what you have in your grade file to import the modules?

[2020-05-14 14:33] bensmiley commented on #624
Are you actually using this code:
[code]
Because "Firebase custom token" is not a valid token.

Also, you should set the config values before calling `ChatSDK.initialize`

You should also check to see if `ChatSDK.initialize` is throwing an error.

Many thank

[2020-05-19 09:14] Mahmoud-S-Ali opened #626 "Unable to resolve dependency"
1. **Is the bug present in the demo Chat SDK project?**
Not sure.

2. **What modifications have you made to the Chat SDK?**
I added both repositories and dependencies mentioned in the integration guide.

3. **Android Version:**
9.0

4. **Steps taken to reproduce the problem:**
- Add in project gradle:
repositories {
        maven { url "http://dl.bintray.com/chat-sdk/chat-sdk-android" }
        ma

[2020-05-20 13:44] Mahmoud-S-Ali commented on #626
It wasn't an issue related to the SDK. Gradle had a connection timeout before the the download was complete.
I used the following to increase the connection timeout:
.\gradlew build -Dorg.gradle.internal.http.socketTimeout=600000 -Dorg.gradle.internal.http.connectionTimeout=600000

[2020-05-20 13:44] #626 closed

[2020-05-20 17:28] gitroshan commented on #552
Any update on this issue? We are still having this issue.

[2020-05-25 15:07] RahatSaqib opened #627 "After I added the chatsdk modules its shows null object reference"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**

4. **Steps taken to reproduce the problem:**

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

After I added the chatsdk modules its shows null object reference in all material elements like this error java.lang.NullPointerException: Attempt t

[2020-05-25 15:08] bensmiley commented on #627
@RahatSaqib can you please update the issue template?

[2020-05-25 15:10] RahatSaqib commented on #627
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.project.ramfolinee/co.chatsdk.ui.login.LoginActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.google.android.material.button.MaterialButton.setVisibility(int)' on a null object reference
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2817)
        at android.a

[2020-05-25 15:11] RahatSaqib commented on #627
This error occured when the activity runs

[2020-05-25 15:11] bensmiley commented on #627
Can you post your Chat SDK initialization code?

[2020-05-25 15:12] RahatSaqib commented on #627
Context context = getApplicationContext();

        try {
            // Create a new configuration
            Configuration.Builder builder = new Configuration.Builder();

            // Perform any other configuration steps (optional)
            builder.firebaseRootPath("prod");

            // Initialize the Chat SDK
            ChatSDK.initialize(context, builder.build(), FirebaseNetworkAdap

[2020-05-25 15:13] bensmiley commented on #627
Which class is this in?

[2020-05-25 15:14] RahatSaqib commented on #627
AppObj class. which class i added on android menifest file with
android:name=".AppObj"

[2020-05-25 15:16] bensmiley commented on #627
Do you get any exception during initialization?

[2020-05-25 15:20] RahatSaqib commented on #627
No i didn't . I am trying to resolve this problem for 3 days. Upgrade all the dependency also. But the default chatsdk app is running well. But when I tried to do on my app. It is showing this error

[2020-05-25 15:21] bensmiley commented on #627
Ok, so you've added it to your app. Did you make any other changes?

[2020-05-25 15:21] bensmiley commented on #627
What do you have in your intent filter as the start activity for your app?

[2020-05-25 15:26] RahatSaqib commented on #627
<activity android:name="co.chatsdk.ui.login.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

[2020-05-25 15:26] RahatSaqib commented on #627
<activity android:name="co.chatsdk.ui.login.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

[2020-05-25 15:27] RahatSaqib commented on #627
<activity android:name="co.chatsdk.ui.login.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

[2020-05-25 15:27] RahatSaqib commented on #627
default splash screen activity

[2020-05-25 15:27] RahatSaqib commented on #627
<activity android:name="co.chatsdk.ui.login.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

[2020-05-25 15:28] RahatSaqib commented on #627
<activity android:name="co.chatsdk.ui.login.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

[2020-05-25 15:29] RahatSaqib commented on #627
![sssss](https://user-images.githubusercontent.com/37343956/82826353-c4c64080-9ece-11ea-9b0a-fbd394ca6bba.PNG)

[2020-05-25 15:31] RahatSaqib commented on #627
the splashscrren activity is running well and main activity,profile activity also running well.It shows error when i pressed logout button it shows this error. It shows all the com,google.android.material things as per my guessing

[2020-05-25 15:33] RahatSaqib commented on #627
error is showing on loginactivy, chatactivity. when it tries to retrieve material button or material textinputview. It showing the null pointer exception

[2020-05-25 16:04] bensmiley commented on #627
Is your project on Github? If you invite me I can see what the issue is. My username is ben_smiley.

[2020-05-26 05:29] RahatSaqib commented on #627
Yes i Invited you . to my project. Please check it out brother

[2020-05-26 06:09] RahatSaqib commented on #627
Recently i remembered. I have added api 'androidx.legacy:legacy-support-v4:1.0.0'  dependency inside chat-sdk-core's build script. Because there was showing a bunch of error .After following one stackoverflow answer. I added this & resolved my problem.is this a problem ?

[2020-05-26 13:28] RahatSaqib commented on #627
hey . did you check my project?

[2020-05-26 17:12] bensmiley commented on #627
@RahatSaqib I've looked at this and I'm afraid I have no idea what's going on. The splash screen activity loads up fine but the login activity doesn't. The xml layout is never expanded properly. I've not seen this kind of issue before and I doubt it's related to the Chat SDK.

There has to be something that's wrong with your project but I'm afraid I can't go through the whole project myself to fin

[2020-05-26 17:15] bensmiley commented on #627
My guess would be that one of your Gradle dependencies has messed it up. You could remove some recent dependencies or go back to a previous commit and see if it works then.

[2020-05-26 18:42] RahatSaqib commented on #627
if i commit to previous version it show error. cannot resolve
hasdefaultview provider factory something like that.. then i upgrade jst
life cycle extenstion version 2.1.0 to 2.2.0. the error have gone. and the
null error  occurs. what should i do.😐😑😑

On Tue, May 26, 2020, 23:15 Ben Smiley <notifications@github.com> wrote:

[2020-05-27 10:41] bensmiley commented on #627
@RahatSaqib there is probably a Gradle conflict. I would recommend that you roll back to the previous version that worked and then see which dependency is causing this issue.

[2020-05-28 08:28] RahatSaqib commented on #627
I solved the login activity issue. Because my apptheme was at default . As i told that this issue is occuring for material components so i replace my app theme parent by Theme.MaterialComponents.Light.Bridge this theme. and it solved . But now this issue is showing on chatactivity like this void co.chatsdk.ui.chat.textinputview.setdelegate(co.chatsdk.ui.chat.textinputdelegate)' on a null object re

[2020-05-28 10:27] bensmiley commented on #627
@RahatSaqib I'm afraid I'm not really able to fix this kind of individual issue that is related specifically to your project. We have a lot of people using the library and every project is different, so it's not practical for me to address project-specific issues. If you would like me to look at it further, you would need to purchase some priority support time. As I recommended previously, I would

[2020-05-28 12:02] RahatSaqib commented on #611
is this resolved? I have the same issue.

[2020-05-29 06:34] RahatSaqib commented on #611
have you solved this error @rikongha ? I have the same error

[2020-05-29 09:13] rikongha commented on #611
@RahatSaqib no, unfortunately, I just had to go with a custom implementation of my own

[2020-05-29 11:15] bensmiley commented on #611
These issues seem to be related to Gradle. The way to fix it is:

1. Make sure that your library versions match Chat SDK library versions. You can do this by adding the library versions to the `ext` block in your project level build.gradle file. This ensures that you are always using a consistent version of libraries across the whole project. i.e.

Project level:

[code]

App level:

[code]

2. Ma

[2020-05-30 04:51] RahatSaqib commented on #627
co.chatsdk.ui.chat.textinputview.setdelegate(co.chatsdk.ui.chat.textinputdelegate)' on a null object reference
This issue has been solved. I was using the same activity and xml file on my project before in main app module. When I delete those previous xml and activity my issue has been solved..
Thank you for your help. @bensmiley

[2020-05-30 05:54] RahatSaqib commented on #627
Why did new chat history shows blank? any idea.? Because my firebase connected successfully and all user registers successfully. But new chat shows blank.

[2020-06-02 07:35] RahatSaqib opened #628 "I want to fetch all the user who have registered ."
I have a question that. Is there any method to show all the users who have been registered in this app?
I want to show those in contact fragment..If have, Can you please tell me?
Thank You.

[2020-06-02 10:54] bensmiley commented on #628
@RahatSaqib You can do it with something like this:

[code]

The reason we don't have an API for this is it's a really bad idea. Imagine you have 100k users and each time a device connects it is downloading 10mb of data. That is going to get very expensive very quickly.

[2020-06-02 10:55] #628 closed

[2020-06-02 11:48] RahatSaqib commented on #628
Where do i add this code? How do i call the function getAllregisteredUsers?

[2020-06-02 11:50] bensmiley commented on #628
Add this code anywhere, it's a static function. You can put it in any class. You would just call it:

[code]
https://www.vogella.com/tutorials/RxJava/article.html

[2020-06-02 11:56] RahatSaqib commented on #628
It is not working. showing blank screen

[2020-06-02 11:57] bensmiley commented on #628
You will need to build your own screen to display the users. If you need me to develop the screen for you, I would be happy to provide a quote.

[2020-06-02 11:58] RahatSaqib commented on #628
I call this method on SelectContactActivity  class. I think the userlistitem class is not using here

[2020-06-02 12:28] RahatSaqib commented on #628
I am not able to build the screen because I am very much noob here. Btw thank you for your support. Stat blessed.

[2020-06-02 12:32] bensmiley commented on #628
Ok, the problem is I don't have time to build the screen for you. I would need to charge for the time. The easiest thing you can do is this:

[code]

Add this somewhere after the user has authenticated. It will add all the users to the current users contacts.

[2020-06-11 11:27] bensmiley commented on #212
Added in v5

[2020-06-11 11:27] #212 closed

[2020-06-11 11:28] #66 closed

[2020-06-11 11:28] #134 closed

[2020-06-11 11:28] #207 closed

[2020-06-11 11:28] #414 closed

[2020-06-11 11:28] #537 closed

[2020-06-11 11:28] #447 closed

[2020-06-11 11:30] #538 closed

[2020-06-11 11:30] #542 closed

[2020-06-11 11:30] #543 closed

[2020-06-11 11:30] #544 closed

[2020-06-11 11:30] #546 closed

[2020-06-11 11:30] #547 closed

[2020-06-11 11:30] #548 closed

[2020-06-11 11:30] #550 closed

[2020-06-11 11:30] #551 closed

[2020-06-11 11:30] #552 closed

[2020-06-11 11:30] #555 closed

[2020-06-11 11:30] #561 closed

[2020-06-11 11:30] #562 closed

[2020-06-11 11:30] #565 closed

[2020-06-11 11:30] #571 closed

[2020-06-11 11:30] #581 closed

[2020-06-11 11:30] #583 closed

[2020-06-11 11:30] #586 closed

[2020-06-11 11:30] #587 closed

[2020-06-11 11:30] #588 closed

[2020-06-11 11:30] #589 closed

[2020-06-11 11:30] #594 closed

[2020-06-11 11:30] #540 closed

[2020-06-11 11:30] #559 closed

[2020-06-11 11:31] #596 closed

[2020-06-11 11:31] #597 closed

[2020-06-11 11:31] #599 closed

[2020-06-11 11:31] #600 closed

[2020-06-11 11:31] #601 closed

[2020-06-11 11:31] #603 closed

[2020-06-11 11:31] #604 closed

[2020-06-11 11:31] #606 closed

[2020-06-11 11:31] #607 closed

[2020-06-11 11:31] #608 closed

[2020-06-11 11:31] #609 closed

[2020-06-11 11:32] #625 closed

[2020-06-11 11:32] #627 closed

[2020-06-11 11:32] #624 closed

[2020-06-11 11:32] #623 closed

[2020-06-11 11:33] #621 closed

[2020-06-11 11:33] bensmiley commented on #618
Long press the message in Chat SDK v5 then click reply.

[2020-06-11 11:33] #618 closed

[2020-06-11 11:51] MOhsain commented on #618
Can you send me link of  "Chat SDK v5"?

On Thu, Jun 11, 2020 at 4:33 PM Ben Smiley <notifications@github.com> wrote:

[2020-06-11 12:19] bensmiley commented on #618
https://github.com/chat-sdk/chat-sdk-android

[2020-06-11 13:18] bensmiley commented on #148
We finally have an update. We have released the beta version of our Firestore messaging library. You can check it out [here](https://github.com/chat-sdk/firestream-android).

[2020-06-11 17:03] kkmehta03 opened #629 "Develop chatbot using ChatSDK"
How can a chatbot be developed using this chat SDK?
I have a project where I don't need user authentication, but just need the UI of a chat that should populate the chat view according to the user's responses. I have the JSON format chat tree, but I just want to tweak the SDK so that this functionality is achieved.
Are there any documentation I can follow from people who have already achieved this

[2020-06-11 17:43] bensmiley commented on #629
@KhyatiMehta3 in this case, I don't know if I would use Chat SDK. The SDK has a lot of things you don't need and achieving what you need, would be more complex as a result. You may be better off using something like this: https://github.com/stfalcon-studio/ChatKit

[2020-06-12 04:21] KhyatiMehta3 commented on #629
Well I chose chat SDK because it has a lot of options for my application when I want to scale it up. Currently however, I'm only looking to implement a chat bot.
Thanks for your reference! I'll take a look at it and get back here!
If currently there's a way of making a chat bot using this SDK, I'd really like to implement that..

[2020-06-12 12:16] bensmiley commented on #629
Hi @KhyatiMehta3 if you are planning to also include messaging features in your app then you could use it. From what you said, I thought you just wanted a chat view where the user could talk to the bot. If you want to get the Chat SDK running with a bot using Firebase it's not too difficult.

First you would need to set up the Chat SDK on your Firebase account. In that process you will setup Fireb

[2020-06-12 13:21] MOhsain commented on #618
For saving data to the database, are you using Firebase or Firestore?

On Thu, Jun 11, 2020 at 5:19 PM Ben Smiley <notifications@github.com> wrote:

[2020-06-14 10:55] Mahmoud-S-Ali commented on #164
I haven't tried the latest version yet '5.0.0rc7', but I fixed the issue by calling:
`if (ChatSDK.auth().isAuthenticated()) {
            disposableList.add(ChatSDK.auth().authenticate()
                    .subscribe(new Action() {
                        @Override
                        public void run() throws Exception {
                            afterAuthentication();

[2020-06-14 12:11] #617 closed

[2020-06-14 12:43] bensmiley commented on #616
Fixed in 5.x

[2020-06-14 12:43] #616 closed

[2020-06-14 12:55] #614 closed

[2020-06-14 12:55] #612 closed

[2020-06-14 12:55] #611 closed

[2020-06-14 12:55] bensmiley commented on #610
This should be fixed.

[2020-06-14 12:55] #610 closed

[2020-06-15 08:30] KhyatiMehta3 commented on #629
@bensmiley Thanks a lot! @HarshitaSahai can you also take a look at this?

[2020-06-17 10:42] LouisLin0706 opened #630 "NullPointerException with new version on 4.8.15"
In order to reduce to db load on firebase. We got the solution is updating the sdk version to 4.8.15 that is suggest by sdk provider.
But it causing the crash inside of the `FirebaseEventHandler` line 79
[code]
The `creationDate` is nullable.
The more crash log below

[code]

please provide a new version or suggest another approach.

[2020-06-17 11:38] bensmiley commented on #630
Fixed in version 4.8.16.

[2020-06-17 11:38] #630 closed

[2020-06-17 12:41] MOhsain opened #631 "Upgrade SDk To 5.v"
I have a project in which i import chat_sdk almost 4.6 version and i'm working on it  from last 1 year. So for your new updations, what would you prefer me  either i will make a new project, import all the chat_sdk modules and copy paste my all project classes in it or i will just update the modules in my current existing app and it could not alter my code?
Because you know better what things are

[2020-06-17 12:50] bensmiley commented on #631
@MOhsain I think either approach could work. I've made a document that contains a list of updates you will need to make.

https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/SJLWjxdcL

If you have issues that are not covered in this document, you should join our Discord server;

https://discord.gg/abT5BM4

And I can give you direct advice.

[2020-06-17 12:50] #631 closed

[2020-06-17 13:31] MOhsain opened #632 "SDK update issue at Android Studio 1.0"
I'm facing an issue while update Chat_SDk 4.+ to new Version 5.v.
My Android Studio is Latest 4.0.
Please check screenshot
![image](https://user-images.githubusercontent.com/22424925/84904357-ab2ca900-b0c8-11ea-95ef-9e75871eae3c.png)

[2020-06-17 14:43] bensmiley commented on #632
@MOhsain can you show me what you added to your grade file?

[2020-06-18 05:32] MOhsain commented on #631
I'm also using your paid modules like, Encryption, Last Screen and Contacts
Book. These modules could work with the old version or i will need to
update all these with 5.v?

On Wed, Jun 17, 2020 at 5:50 PM Ben Smiley <notifications@github.com> wrote:

[2020-06-18 05:36] MOhsain commented on #632
i added these lines in project level build.gradle file ->

classpath "com.android.tools.build:gradle:4.0.0"
classpath "com.google.gms:google-services:4.3.3"
classpath 'com.novoda:bintray-release:0.9.2'
classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:1.3.71"
classpath 'com.jakewharton:butterknife-gradle-plugin:10.2.1'
classpath 'com.google.firebase:firebase-crashlytics-gradle:2.1.1'
classpath

[2020-06-18 07:29] bensmiley commented on #632
@MOhsain could you plase show me both your project and app level build.gradle files?

[2020-06-18 10:33] bensmiley commented on #631
@MOhsain Can you send me an email with your license details? to team@sdk.chat and I'll check into the details.

[2020-06-19 10:15] MOhsain commented on #632
How can I show all my projects to you?

On Thu, Jun 18, 2020 at 12:30 PM Ben Smiley <notifications@github.com>
wrote:

[2020-06-19 11:07] MOhsain commented on #631
Where can I get this  license  details?

On Thu, Jun 18, 2020 at 3:34 PM Ben Smiley <notifications@github.com> wrote:

[2020-06-19 11:08] bensmiley commented on #631
You would have received an email when you purchased the license. Either forward that email to me or tell me the email you used to make the purchase.

[2020-06-19 11:09] bensmiley commented on #632
You need to clean the project (delete the Build directories) and then zip it and email it to me team@sdk.chat. Or invite me to your Git repo if you're using one. My username is ben_smiley.

[2020-06-21 11:22] ramkishoreprajapat opened #633 "Sending WAIT chunk"
After app demo installed pressing LUNCH CHAT SDK then app is stuck and logcat showing Sending WAIT chunk.

[2020-06-21 11:55] bensmiley commented on #633
I belive it is fixed with this version: https://i.diawi.com/SdiQWy

[2020-06-21 11:55] #633 closed

[2020-06-22 18:54] YimingLi-1996 opened #634 "XMPP vs. Firebase"
I am a little confused by the pricing. Why is the Firebase Chat SDK free to use while the XMPP requires a license? What are the differences between them? Which one should I choose? Thank you!

[2020-06-23 09:52] bensmiley commented on #634
Hi @YimingLi-1996 I've made a tutorial that explains the differences. You can see it [here](https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/Sk8-jryC8). The reason we charge for XMPP is that the library took a massive amount of time to write and is usually used more for large scale commercial projects. If you have further questions let me know and I'd be happy to answer them.

[2020-06-23 09:52] #634 closed

[2020-06-23 18:03] YimingLi-1996 commented on #634
Hi Ben! Thanks for answering! Just want to double check two things: if I need to run my chat app without any Google services, I have to choose XMPP out of the three options, right? Also, for the XMPP version, the source code will only be available after I purchase the license, right?

[2020-06-23 19:03] bensmiley commented on #634
Hi @YimingLi-1996 if you need to run the app without Google Services then you will have to use the XMPP adapter. There are three options in terms of the module. You can sponsor the project in which case you get access to the compiled XMPP module (not source). You could buy the module as a one-off - [details here](https://chatsdk.co/xmpp/). Or if you want to get the source on a pay-monthly option y

[2020-06-25 12:28] #632 closed

[2020-06-25 12:28] #598 closed

[2020-06-25 12:29] bensmiley commented on #584
Available now: https://github.com/chat-sdk/chat-sdk-android#customization

[2020-06-25 12:29] #584 closed

[2020-06-25 12:55] MOhsain commented on #632
Why are you closing this?

On Thu, Jun 25, 2020 at 5:28 PM Ben Smiley <notifications@github.com> wrote:

[2020-06-25 13:00] bensmiley commented on #632
Because I posted a reply a week ago and got no reply. We need to solve it or close the issue.

[2020-06-25 13:01] bensmiley commented on #632
I would also recommend looking at this video:

https://www.youtube.com/watch?v=ZzfSd3hc3xw

I started with a clean Android Studio project and setup the Chat SDK.

[2020-06-29 05:30] MOhsain commented on #632
But you are using Android Studio Version 3.6 and my Version is 4.0. I also
sent my code base to your given email address. Please check that

On Thu, Jun 25, 2020 at 6:02 PM Ben Smiley <notifications@github.com> wrote:

[2020-06-30 20:20] RahatSaqib opened #635 "Back press not working on main activity."
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**
I implement you code to my project.
3. **Android Version:**
8
4. **Steps taken to reproduce the problem:**
@Override
public void onBackPressed(){
Intent intent =new Intent ( MainActivity.this,HomeActivity.class);
startActivity(intent);
finish();
}
5. **Expected result:**
It will go to

[2020-07-01 06:51] MOhsain commented on #632
Please reply to me?

On Mon, Jun 29, 2020 at 10:30 AM Mohsan Ikram <mohsanikram777@gmail.com>
wrote:

[2020-07-01 16:04] bensmiley commented on #632
Hi @MOhsain this is an issue directly related to using Android Studio 4.0. It's related to [this](https://github.com/novoda/bintray-release/issues/318). I will update the project as soon as AS 4.0 comes out of beta. In the meantime, I would recommend that you use: AS 3.x, add the Chat SDK using Gradle and remove the bintray release dependency or follow the steps in the issue I posted.

[2020-07-01 16:23] bensmiley commented on #635
Hi @RahatSaqib could you provide some more context. Are you subclassing the `MainActivity`? If so, have you tried adding a breakpoint on this line to see if it's actually hitting it?

[2020-07-01 20:02] RahatSaqib commented on #635
I implement this code on MainActivity.becauseafter the splashscreenaxtivity the app redirect to mainactivity.  Thats why i add those.  As per my opinion it is not hitting the mainActivity.

[2020-07-02 11:21] bensmiley commented on #635
Hi @RahatSaqib if you want the app to redirect to your main activity you can use:

[code]

Other than that, you would need to add a breakpoint to the main activity `onCreate` method and `onBackButtonPressed`. You are saying that the activity is not launched, but first, you need to confirm that your code is actually executed.

[2020-07-04 08:23] RahatSaqib commented on #635
Actually ben I am not tryting to make any difference to your app. I am just trying when I click on a button it will go to your app from mine. and when I back press from your app it will back to my app.thats it.. if you can tell me where should I use onBackPressed method on your app.

[2020-07-04 14:25] CoAlert19 opened #636 "Switching from fragment to chatActivity, chatActionBar not found"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**
No Modification made

3. **Android Version:**
9
4. **Steps taken to reproduce the problem:**
 startActivity(new Intent(getContext(), ChatActivity.class));
        getActivity().finish();

5. **Expected result:**
Start Chat Activity

6. **Actual result:**
Caused by: java.lang.IllegalSta

[2020-07-04 14:27] bensmiley commented on #636
@CoAlert19 this seems to happen when you have a layout file with the same name as one of the Chat SDK layout files. Then this one is used instead and it doesn't have the correct fields for ButterKnife so there is a null pointer exception. Can you confirm that this isn't the case?

[2020-07-04 14:59] CoAlert19 commented on #636
There was a similar layout file which i renamed. Now, I am getting this error.

 java.lang.RuntimeException: Unable to start activity ComponentInfo{com.archestro.tiramap/sdk.chat.ui.activities.ChatActivity}: android.view.InflateException: Binary XML file line #14: Binary XML file line #14: Error inflating class sdk.chat.ui.appbar.ChatActionBar

[2020-07-04 15:18] bensmiley commented on #636
@CoAlert19 did you watch the setup video? These kinds of issues are usually related to a problem with the configuration. It could be that your class doesn't inherit from the ChatSDK theme. I can also be related to your project not having the right Gradle dependencies. It's really hard for me to debug remotely because it could be related to so many things. Can you also confirm your Android version?

[2020-07-04 15:43] CoAlert19 commented on #636
<img width="289" alt="gradle" src="https://user-images.githubusercontent.com/62545378/86516018-c7ee0e00-be36-11ea-9f0d-48e7ed791098.PNG">
![image](https://user-images.githubusercontent.com/62545378/86516034-e5bb7300-be36-11ea-9065-81e06f8bdaf6.png)
![image](https://user-images.githubusercontent.com/62545378/86516044-f79d1600-be36-11ea-825a-ac36a3c31a4e.png)

[2020-07-04 15:46] CoAlert19 commented on #636
Android Version is 9, Yes I followed the video step by step. Dependencies are not a problem. I can confirm that. It is most probably related to Chat Sdk theme. When I run it as a seperate entity, it works but when i integrate it into my app with Navigation Drawer already having its own theme, it crashes. I also tried changing theme to Chat Sdk theme in this current fragment's layout but problem pe

[2020-07-04 16:09] bensmiley commented on #636
Hi @CoAlert19 the first thing is to update to the latest version of the library that is `5.0.0rc29`. That version will allow you to run the Chat SDK with it's own theme. Can you try this and let me know if it helps?

[2020-07-04 16:56] bensmiley commented on #635
@RahatSaqib you need to override the `MainActivity` and then override the `onBackButtonPressed` method. it is disabled by default. See here:

https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/ByL0mWG0L

[2020-07-04 16:59] bensmiley commented on #635
This is the code in the `MainActivity` that disables the back pressed.
[code]
You can also set the setting:

[code]

[2020-07-05 06:58] RahatSaqib commented on #635
I also tried this method also.. but it is not WORKING.But in the case of chat activity  I use ChatSdk.ui().setMainActivity to my homeaktivity which is working when backpressed it comes to my app activity.. But inside Main Activity of your app it is not working the backkpressed method.

[2020-07-05 07:57] RahatSaqib commented on #635
But I want to say that is. When ever I tried to change any of this activity it changes but it is not taking effect on your app. After that I saw that in C:\Users\user\.gradle\caches\modules-2\files-2.1\sdk.chat this directory all of you app's activity,fragments, stored here. That is only read only. It is not changing when i change it shows read only. It stays what you implement. I think my project

[2020-07-05 11:02] bensmiley commented on #635
@RahatSaqib you shouldn't try to modify the files. Subclass and override them like this:

https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/ByL0mWG0L

I also tested and `onBackPressed` is called.

![Screenshot 2020-07-05 at 13 01 38](https://user-images.githubusercontent.com/5514010/86531230-c1f03f80-bebf-11ea-998e-f7ef779b131a.png)

If you could give me a clearer idea of what you're trying to do, I can t

[2020-07-05 11:05] bensmiley commented on #635
You say you've already overridden the main activity. So where do you exactly want to go back to when back is pressed? This isn't really anything to do with Chat SDK, it's a standard Android issue. You can just launch the activity like this:

[code]

[2020-07-05 11:15] RahatSaqib commented on #635
I already did all of the thing you tell.. But it didn't happening in my case. I used Intent also.. But do not happening. As per my guess it should be done with this.

[2020-07-05 11:18] bensmiley commented on #635
@RahatSaqib can you please describe your setup in more detail. Tell me how you are integrating Chat SDK. Where are you trying to click back from, where do you want it to go? Did you add a breakpoint? etc...

[2020-07-05 11:22] RahatSaqib commented on #635
actually I told you before about it. I just want to launch your app by this button click
![splas](https://user-images.githubusercontent.com/37343956/86531517-cfb7bc00-bee3-11ea-8ff3-a5a40a2987eb.PNG)
when i press the button it goes to your app mainActivity
![Screenshot_2020-07-05-17-17-09-765_com project ramfolinee](https://user-images.githubusercontent.com/37343956/86531529-e827d680-bee3-11ea-9d3

[2020-07-05 11:23] bensmiley commented on #635
@RahatSaqib I think the problem is that you're launching the splash screen activity. Try launching the main activity instead:
[code]
You will have to make sure that the user is already authenticated with Firebase

[2020-07-05 11:29] RahatSaqib commented on #635
No brother. Its not working also

[2020-07-05 11:29] RahatSaqib commented on #635
I already authanticated users in my homeactivity

[2020-07-05 11:30] bensmiley commented on #635
@RahatSaqib yes, if you just launch the main activity it won't work, because the back button is disabled. You would need to override the main activity and enable the back button and then launch that.

[2020-07-05 11:32] RahatSaqib commented on #635
Can you tell me how to override the main activity. I already eneable allowbackpressed variable to true. but how to override this. can you suggest me?

[2020-07-05 11:33] bensmiley commented on #635
@RahatSaqib here is the link to the guide on how to override activities: https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/ByL0mWG0L

[2020-07-05 11:36] bensmiley commented on #635
1. Subclass the `MainActivity`
2. override the `onBackPressed` method
3. In `onBackPressed` launch your main app activity
4. Register your subclass with Chat SDK framework `ChatSDK.ui().setMainActivity(MainActivitySubclass.class);`

[2020-07-05 11:41] RahatSaqib commented on #635
ChatSDKUI.setPostRegistrationActivity(HomeActivity.class);

should i use  this method?

[2020-07-05 12:50] RahatSaqib commented on #635
Finally It works with your suggestion. But why this was not working on Mainappbar activity?

[2020-07-05 16:22] bensmiley commented on #635
I don't know why it wasn't working, I expect because you were launching the splash screen activity which itself launches the main app bar activity. Even when you enabled back, it would just jump back to the splash screen and immediately back to the main activity. You can subclass `MainAppBarAcrtivity` too, I think that should also work.

[2020-07-06 10:54] #635 closed

[2020-07-08 06:14] RahatSaqib commented on #635
I have a question to you. When I recieve msg from others it will give default notification ringtone..But in your app it only receive notification and vibrate no ringtone.I added these lines on NotificationDisplayHandler.java file. but it si not working. can you suggest me something?
![notify](https://user-images.githubusercontent.com/37343956/86883907-9ade7b80-c114-11ea-89c1-f0b2f6e89385.PNG)

[2020-07-08 14:01] bensmiley commented on #636
Closing due to inactivity.

[2020-07-08 14:01] #636 closed

[2020-07-10 15:57] RahatSaqib opened #637 "Type sdk.chat.core.BuildConfig is defined multiple times"
When I am going to release the full app it says this error:
Type sdk.chat.core.BuildConfig is defined multiple times: F:\works\New Folder\Ramfolinee\chat-sdk-core\build\.transforms\01ae4b258926b7a18889d4cd8c45b46a\classes\classes.dex, F:\works\New Folder\Ramfolinee\app\build\intermediates\external_libs_dex\developmentRelease\out\classes5.dex

![gradle](https://user-images.githubusercontent.com/373

[2020-07-10 16:05] bensmiley commented on #637
@RahatSaqib which Chat SDK version are you using?

[2020-07-10 16:08] RahatSaqib commented on #637
version 5.0.0rc21

[2020-07-10 16:09] bensmiley commented on #637
Can you update to `5.0.4`?

[2020-07-10 16:10] RahatSaqib commented on #637
yes.but It will take time which cost do it from start. Is this a version issue? I don't think so

[2020-07-10 16:12] RahatSaqib commented on #637
but currently in github it shows 5.0.2 no 5.0.4

[2020-07-10 16:13] bensmiley commented on #637
@RahatSaqib it's possible that there was a problem was caused by the android manifest in two of the modules sharing a package name. This is resolved in the newest version. You can see the latest version here:

https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/B1S2tXdqL#App-level-buildgradle

[2020-07-11 06:08] RahatSaqib commented on #637
But I can not get the 5.0,4 . Where should i download?

[2020-07-11 10:14] bensmiley commented on #637
You can get it using Gradle. https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/B1S2tXdqL#Add-Chat-SDK-to-your-project

[2020-07-13 04:42] john-lq opened #638 "Firebase rules file not available"
Hello Team,
 I have a look on the three-issue. But there is not a link to be available for me to download the Firebase Rule:
https://github.com/chat-sdk/chat-sdk-android/issues/609
https://github.com/chat-sdk/chat-sdk-android/issues/568
https://github.com/chat-sdk/chat-sdk-android/issues/180

Can you help me?
Thanks

[2020-07-13 08:13] bensmiley commented on #638
The link is available in the setup instructions [here](https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/BkvpPKFqI)

[2020-07-13 08:13] #638 closed

[2020-07-13 11:54] #637 closed

[2020-07-14 06:46] hoangvuanhdevelopervn commented on #148
+1

[2020-07-14 10:54] bensmiley commented on #148
Check out:
https://github.com/chat-sdk/firestream-android

[2020-07-16 20:13] ourdex86 opened #639 "Text Message from iOS to Android is empty text"
We are trying to integrate ChatSDK in our iOS & Android Apps.

for iOS we are using SDK Version -> **4.14.5**
for Android we are using SDK Version -> **4.8.17**

Here is the following code snippets we are using to send text message

iOS : **BChatSDK.thread()?.sendMessage(withText: "Hello", withThreadEntityID: thread.entityID())**
Android : **ChatSDK.thread().sendMessageWithText("Hello",thread)**

[2020-07-17 10:02] bensmiley commented on #639
Hi @ourdex86 the first thing I would recommend if possible, is that you use version 5.0.4 of the Android project. Whether this is possible would depend on how far through you are with the integration. But version 4 of the Android project is deprecated and won't be updated any further. It will only see minimal bug fixes.

In terms of the message payload, are you seeing any problems receiving messag

[2020-07-17 10:08] bensmiley commented on #639
With the `json_v2` issue, I've added a fix which is available with `4.8.18` but I would still recommend using v5 if possible because it will offer far better performance in the future.

[2020-07-17 10:08] #639 closed

[2020-07-17 15:06] john-lq opened #640 "The app crashes in release mode"
Hello Team,

The app work well in debug mode. But I have tried to build the app in release mode. The app crashes when updating the user.

[code]
**proguard-rules.pro**
[code]

[code]
**Android Studio 4.0**

Pls help me to fix it!

Thanks,
John

[2020-07-17 15:07] bensmiley commented on #640
Hi @john-lq I'm currently working on the ProGuard rules. I will be releasing them next week. But until that's finished, the library won't support minification.

[2020-07-17 15:12] john-lq commented on #640
Hello @bensmiley,

Thanks for quick reply.
Setting the `minifyEnabled false` can solve the problem?

Thanks,
John

[2020-07-17 15:12] bensmiley commented on #640
Yes, it will.

[2020-07-17 15:29] john-lq commented on #640
Yes, It work well. But the app size is increased :(
Pls let me know when the library supports minification.

[2020-07-17 15:32] bensmiley commented on #640
@john-lq yes, it would increase the size. The new version will be ready next week.

[2020-07-20 07:04] ourdex86 commented on #639
@bensmiley .. I tried to use v5, but that is using old **org.jetbrains:annotations**  version. **Its using strict 13.0**

[2020-07-20 08:40] bensmiley commented on #639
@ourdex86 can you show me where it is using this annotation?

[2020-07-21 08:00] ourdex86 opened #641 "'sdk.chat.core.push.BroadcastHandler sdk.chat.core.handlers.PushHandler.getBroadcastHandler()' on a null object reference"
When I try to leave a group or join a group from the another device, then my Android App is crashing with the following error.

[code]

Here is my ChatSDK Initialization code.

[code]

[2020-07-26 07:53] ourdex86 commented on #641
@bensmiley Any idea how to avoid this ?

[2020-07-26 14:49] bensmiley commented on #641
Hi @ourdex86 where are you calling `initChatSDK` from? Can you tell me which class / method?

[2020-07-28 08:12] ourdex86 commented on #641
@bensmiley .. I am invoking this from Application class

[2020-07-29 04:35] OD2020-2 opened #642 "Encounters an error when creating chat room"
1. **Is the bug present in the demo Chat SDK project?**
No.

2. **What modifications have you made to the Chat SDK?**
- Added it to my own project
- Users are already logged in before they can click a button from an activity to launch the chat
* ChatSDK.ui().startMainActivity(this);
- Everything else works fine except for when creating chat rooms

3. **Android Version:**
10.0

4. **Steps taken to

[2020-08-03 11:23] john-lq opened #643 "Crash at sdk.guru.realtime.RXRealtime$1.onCancelled(RXRealtime.java:65)"
Hello Team,

I have crashes on the following devices:
**Android Version:**

- 6.0.1(Galaxy J7(2016))
- 7.0(X1)
- 7.1.2(Plume H1).
- 8.0.0(Galaxy S7 edge).
- 8.1.0(Galaxy J7 Prime, CPH1909).
- 9(Redmi 6A, Galaxy J7 Neo).
- 10(Galaxy A50, Galaxy A20s).
- and more

**Stack trace**
[code]

I had a look on the `RXRealtime.java`. At line 65, the `ref` is accessed for the Log feature. And the `ref` varia

[2020-08-05 07:30] cristo1985 opened #644 "Date detector in chat"
Hello, we saw your SDK to integrate chat into an Android / ios application. Very interesting. What we would like to know is this: there is the possibility of recognizing if a user enters a date for example 24/07/2020 in the chat is converted into something clickable and which allows you to add an event in the Android calendar / iOs. Does this feature already exist?
Thank you
Regards
Cristian Capan

[2020-08-06 19:06] Max-Oe opened #645 "Modifying UI Files directly, but on Android?"
Hey, sorry for bothering.

I wanted to customize the UI. Tried modifying the UI directly as it is the easier way, as you wrote in your Docs, to edit the User Interface. Now your described method is for IOS only. Is there an alternative for Android?

[2020-08-07 12:30] #645 closed

[2020-08-08 18:52] kbnawaz opened #646 "Default Chat SDK App Icon is showing rather then real app icon"
We are using the latest version of ChatSDK (5.0.2) in our project where we have created a custom Chat Activity. The customization works perfectly but the only problem we are facing is while we are on this chat activity and we push app to background we see chat sdk's default icon rather than our app icon.

[code]

here is our MyChatActivity code

[code]

we tested this on Android Oreo API level 27.

[2020-08-09 12:41] vpulpatil commented on #640
Any update on this @bensmiley ?

[2020-08-13 10:20] farhanbombay commented on #646
use this (kotlin code)
[code]

and for notification

[code]

[2020-08-14 12:42] bensmiley commented on #640
This is fixed in the latest version. You can also add the Proguard rules to your app's proguard file:

[code]

[2020-08-14 12:42] #640 closed

[2020-08-14 12:49] bensmiley commented on #644
@chat-sdk/contributors this would be possible. You would need to create a custom message cell. Here are instructions:

https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/ryxEXfA08

[2020-08-14 12:49] #644 closed

[2020-08-14 13:25] bensmiley commented on #642
@OD2020-2 so are you saying that the base implementation of Chat SDK works fine on your device? Have you made any customizations for changes? Can you post your Chat SDK setup code?

[2020-08-18 03:39] hrishikeshkayal opened #647 "Service not registered"
1. **Is the bug present in the demo Chat SDK project?**
No
2. **What modifications have you made to the Chat SDK?**
None
3. **Android Version:**
10
4. **Steps taken to reproduce the problem:**
Simply add the SDK into the system and use the builder to initiate the SDK in Application class.
5. **Expected result:**
It should not log the error.
6. **Actual result:**
this is the log I am receiving ...

[2020-08-24 08:08] mhmdreza opened #648 "Show XMPP chat in part of my activity"
Hi,

Can I use this as a part of an activity/fragment in my app? Actually, I am currently developing a live activity and I want to use your sdk to show Live chats below my live in a box. Chat server is implemented by Prosody and it is a XMPP server.

[2020-08-25 10:02] john-lq commented on #643
Hello Team,

Are there any update on this?

Thanks,
John

[2020-08-26 12:50] dakaheni opened #649 "No push notifications if the app is completely closed"
I don't receive push notifications if the app is completely closed. It works perfectly if the app is in the background. It also works with iOS, even if the app is completely closed there.

There's an error in the firebase log:
[code]

ChatSDK v5.0.4
Tested with Android 8.1.0, Android 11 (latest beta)

[2020-08-29 01:09] guitorioadar commented on #228
This scenario must have a good solution... please share with us....

[2020-09-02 14:22] bensmiley commented on #228
@guitorioadar This issue is from 2018, are you sure it's still relevant?

[2020-09-07 14:16] trietpham154 opened #650 "Duplicate last message when use loadMoreMessages function"
Hi team,
I have an issue with _loadMoreMessages_ function.

1. **Is the bug present in the demo Chat SDK project?**
No.
2. **What modifications have you made to the Chat SDK?**
None.
3. **Android Version:**
8.0
4. **Steps taken to reproduce the problem:**
Call _loadMoreMessages_ in ThreadWrapper -> fill data into my recyclerView.
5. **Expected result:**
Only receive a list of messages
6. **Actual

[2020-09-11 09:20] adkaushik opened #651 "Clicking on Profile option in the drawer crashing the app"
1. **Is the bug present in the demo Chat SDK project?** - NO

2. **What modifications have you made to the Chat SDK?** No modifications made. using quickstart

3. **Android Version:** 9

4. **Steps taken to reproduce the problem:**
 Integrate sdk
click on profile in the drawer

5. **Expected result:**
open profile activity as in the sdk demo app

6. **Actual result:**
crashing the app with followi

[2020-09-12 13:43] KhyatiMehta3 opened #652 "Create custom Contacts book sync module"
1. **Is the bug present in the demo Chat SDK project?**
It's a question, no bugs, the Chat SDK works beautifully :smile:

2. **What modifications have you made to the Chat SDK?**
I'm aware that a license for the contacts book module can be bought, however, I'm more interested in creating a similar module myself. I was able to achieve displaying the local contacts that exist in the phone as well as

[2020-09-15 10:53] akshaybalaji123 opened #653 "Voice recordings and emojis for free"
7. **Comments:**

I am currently working on the demo version and I want to add one key feature which is voice recording. I know how to do this with Firebase but I want to add an icon in each chat to do that and I need it to display in the chat. Is there anyway to sync both Firebase firestore to the chat screen. I also want to add emojis for free. Is there any way to do this?

[2020-09-15 15:09] MartPiet opened #654 "Null pointer exception on calling ChatSDK.auth()"
1. **Is the bug present in the demo Chat SDK project?**
I guess no.

2. **What modifications have you made to the Chat SDK?**
None

3. **Android Version:**
10.0 (Emulator)

4. **Steps taken to reproduce the problem:**
Call ChatSDK.auth()

5. **Expected result:**
No crash

6. **Actual result:**
Crash

7. **Comments:**

Hey,

Currently I'm trying to manually sign in a user with a custom token. Howev

[2020-09-16 13:31] MartPiet commented on #654
So I figured out, that the app does not crash using quickStart. Is something missing in my custom start setup?

[2020-09-16 13:36] MartPiet commented on #654
The issue was that my custom start code was throwing an error. This error was thrown because my root path contained a "-" ("develop-android") which was not allowed and led to the error message:

`java.lang.Exception: The root path cannot contain special characters, they were removed so your new root path is: developandroid`

Of course - with no startup the auth() call failed.

This issue is fixed

[2020-09-22 11:01] brittle123 opened #655 "How to delete groups?"
Helo Sir ,... i just wanna know that how to delete groups ?please reply me ASAP!
Regard & Thanks.

[2020-09-23 10:03] anonym24 opened #656 "Is it possible to use fragments of chats without activities?"
I have activity with bottom toolbar and I want to show chat thread in one of the tabs (a separate fragment), there is `PrivateThreadsFragment` but it seems I can't just do `class ChatThreadsFragment : PrivateThreadsFragment()` and add it to empty activity

So the only method is to subclass activity and then set which custom fragments will be used in that activity? based on https://hackmd.io/@dyR2V

[2020-09-23 11:05] anonym24 commented on #656
There is https://hackmd.io/@dyR2Vn0UTFaO8tZjyiJyHw/ByL0mWG0L#Using-the-Fragments-in-your-app

so I create my Activity and I don't extend MainActivity of ChatSDK but I have to call some `loadData()` method, what is that and where to find it?

[2020-09-23 11:47] anonym24 commented on #656
actually it works I've extended `PrivateThreadsFragment` and use it with my own activity which just extend AppCompatActivity and I can conversations, so there is no need for `MainActivity` of ChatSDK

[2020-09-23 11:47] #656 closed

[2020-09-24 13:25] anonym24 opened #657 "Threads aren't appearing immediately after authentication"
1. **Is the bug present in the demo Chat SDK project?**
no, but demo opens another activity (`MainAppBarActivity`) after authentication (`SplashScreenActivity` or `LoginActivity`), and mb because of this delay between switching activities the bug isn't reproduced, and all it asks for permission before displaying threads, my sample uses the same activity, everything happens fast, after authenticati

[2020-09-24 14:34] anonym24 commented on #657
Sometimes it displays part of information only:

![image](https://user-images.githubusercontent.com/8851301/94159362-1e924380-fe8c-11ea-8331-4509ae3676c9.png)

Is there some synchronization happens after authentication (to local datebase for example)?

[2020-09-25 06:56] DevAppcrates opened #658 "Import Chat Module and Getting Crash On Splash"
Hi
I just import basic chat sdk and I'm getting crash on Splash. I didn't know I'm getting AUTH crash please check screenshot ->
![image](https://user-images.githubusercontent.com/71869504/94236010-f22b0580-ff25-11ea-95e6-8334157d545c.png)

[2020-09-29 09:16] anonym24 opened #659 "Is there any module like Shared Media/Voice/Links (Content) in Telegram?"
Is there any module like Shared Content in Telegram?

Screen that shows common (shared) files, audios, videos, links of specific chat (conversation)

[2020-09-29 12:40] bensmiley opened #660 "Meta data overwritten when app reinstalled"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**

4. **Steps taken to reproduce the problem:**

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

[2020-09-29 15:32] anonym24 opened #661 "Is it possible to search for messages from all private threads of a user (like in Telegram)?"

[2020-09-29 20:09] bensmiley commented on #658
@DevAppcrates have you gone through this video?

https://github.com/chat-sdk/chat-sdk-android#quick-start

This problem comes from an incorrect Chat SDK setup. The auth service is null. It can also happen when you don't setup the Chat SDK in the main Application class.

[2020-10-08 07:36] anonym24 opened #662 "iOS & Android - Different message background shape and logic"
On iOS version it combines messages with the same time:

![image](https://user-images.githubusercontent.com/8851301/95428648-fc9bc500-0951-11eb-8034-fea8ce5b0df7.png)

(one datetime below two messages), and a different background shape for a second message

But on Android it never happens:

![image](https://user-images.githubusercontent.com/8851301/95428761-23f29200-0952-11eb-84cc-9a4641a761ab.png

[2020-10-08 08:14] anonym24 opened #663 "How to change layout id of ChatView?"
Layout for Chat view is hardcoded https://github.com/chat-sdk/chat-sdk-android/blob/master/chat-sdk-core-ui/src/main/java/sdk/chat/ui/views/ChatView.java#L88

There is no method like:

[code]

Why?

[2020-10-08 08:20] anonym24 commented on #663
[code]

these attributes aren't used in the library, it's not possible to change background color of messages

![image](https://user-images.githubusercontent.com/8851301/95433197-4be4f400-0958-11eb-9a8b-64821d674029.png)

[2020-10-10 12:56] marwen-dhahri opened #664 "chat thread in fragment"
I have an activity with bottom toolbar and I want to show chat thread in one of the tabs (a separate fragment)..
can you help me please

[2020-10-10 16:14] marwen-dhahri commented on #656
i have the same issue how did you initialize the chat sdk in your fragment

[2020-10-12 05:35] adkaushik opened #665 "Empty push notification for image messages"
1. **Is the bug present in the demo Chat SDK project?: Yes**

2. **What modifications have you made to the Chat SDK? None**

3. **Android Version: tested in versions 9 and 10**

4. **Steps taken to reproduce the problem: Install the demo app. Add a user to contact and send an image message, The push notification received will be empty**

5. **Expected result:: Show the sent image in the notificati

[2020-10-13 11:25] anonym24 opened #666 "Threads aren't loaded correctly on fresh app (with no data) after quick login (with pre-allowed/defined permissions)"
1. **Is the bug present in the demo Chat SDK project?** yes, 5.0.16

2. **What modifications have you made to the Chat SDK?** none

3. **Android Version:** 28,29,30

4. **Steps taken to reproduce the problem:**
install demo app, login, create some threads with other user, close app, clear data, give all needed permissions in the settings so app would NOT ask for them,
open app and login to the sam

[2020-10-13 11:32] anonym24 commented on #292
@thecmart this issue still happens in 5.0.16 https://github.com/chat-sdk/chat-sdk-android/issues/666

[2020-10-13 14:04] FidaMOhsin opened #667 "How can I implement/Use Facebook, Twitter and Gmail login?"
Can you tell me please, how can I implement/Use Facebook, Twitter and Gmail login?

[2020-10-14 10:05] Mahmoud-S-Ali commented on #666
I can confirm the issue still occurs in latest version

[2020-10-14 10:07] Mahmoud-S-Ali commented on #657
I have that same issue

[2020-10-14 14:42] anonym24 opened #668 ""online: true" field isn't removed from database when app minimizes"
1. **Is the bug present in the demo Chat SDK project?** yes, v5.0.16

2. **What modifications have you made to the Chat SDK?** none

3. **Android Version:** 21-30

4. **Steps taken to reproduce the problem:** open chat demo app, login, minimize (don't remove from history), check firebase, online status is shown for that user, it's only being deleted when app is removed from history

5. **Expected

[2020-10-14 15:50] anonym24 commented on #668
it works on old `5.0.0rc25` when app minimized

but on 5.0.1-5.0.16 online status is removed only when app is removed from history

[2020-10-15 08:43] DevAppcrates opened #669 "How can i use Tabs over the Drawer?"
How can i replace the Tabs with Drawer layout?
I find lot of but could not get any answer. Please guide me.
Thanks

[2020-10-15 11:41] awaisabbasaa11 opened #670 "Files uploading stops when app goes into the background"
1. **Is the bug present in the demo Chat SDK project?**
Not sure
2. **What modifications have you made to the Chat SDK?**
nothing

3. **Android Version:**
Every android OS

4. **Steps taken to reproduce the problem:**

5. **Expected result:**
Files should upload even when app is in background
6. **Actual result:**
Uploading of files stop, not fail but stops, it always shows "uploading" but it don'

[2020-10-18 02:43] ChatWave opened #671 "User Meta Values are reset on login with no cached user"
1. **Is the bug present in the demo Chat SDK project?** Yes it is. The ChatSDK on google play does the exact same thing.

2. **What modifications have you made to the Chat SDK?** Tons of modifications, but there is nothing that effects the meta values. This still happens on a fresh zip from github.

3. **Android Version:** 7.1.1 - I will see if others do it to, but i doubt it.

4. **Steps taken to

[2020-10-18 08:01] ChatWave commented on #671
So it's just a universal loading issue with GreenDao
All the others are having loading issues with threads and users also don't load at first
I was able to prevent the meta data from getting reset, but it still doesn't load.
When you're logged in as another user you can still get others data, but not see your own until you log into another account and go into your profile, then log back into the o

[2020-10-18 08:32] ChatWave commented on #671
Alright so if a user has replied to a public thread and you join it, it starts to load their data.
I am not having loading issues with threads so something is wrong with user loading on it's own.
Breaking it down lol sorry for the spam I need logs

[2020-10-19 06:51] adkaushik commented on #669
@DevAppcrates  Use this code with the builder `.addModule(ExtrasModule.builder().setDrawerEnabled(false).build())`

[2020-10-19 13:11] anonym24 commented on #200
@bensmiley it's not possible to handle push notification locally if app is killed. What do you mean? I still can see different notifications when I clear the app from history stack

[2020-10-20 22:10] ChatWave commented on #671
Fixed it
I can't tell what exactly fixed it but..

calling model.refresh();

in private UserWrapper(FirebaseUser authData){
after the model is initialized grabs the fresh data from the database

I'm also looking into daoSession.clear(); but i think it's a little extreme
idk why refresh works or how the caching works but it does 👍

Just remember

By default GreenDAO caches and returns cached entity

[2020-10-20 22:10] #671 closed

[2020-10-21 10:06] anonym24 opened #672 "ChatSDK.thread().create1to1Thread or any similar thread method creates a new chat instead of returning existing chat (existing threadID) with the same user"
1. **Is the bug present in the demo Chat SDK project?** yes

2. **What modifications have you made to the Chat SDK?** none

3. **Android Version:** 21...30 API

4. **Steps taken to reproduce the problem:**
- install app
- login to user1
- programmatically create chat with user2 `ChatSDK.thread().create1to1Thread(user2, null)` and send some message to that user using this newly created thread
- uni

[2020-10-21 11:24] bensmiley commented on #672
The thing is that if you delete and reinstall the app and make a new thread before the app can synchronize then a new thread will be created.

However, this is highly unlikely ever to happen in real-world usage. I think it could only be achieved by creating the thread programmatically because Firebase should have fully synchronized within 500ms.

If you want to work around this, just do the follow

[2020-10-21 11:24] #672 closed

[2020-10-21 11:43] anonym24 commented on #672
@bensmiley thanks, I'll try it. Also there a similar issue (after clean reinstall) with list of threads (PrivateThreadFragments) and it's much serious problem which users can meet, it can be reproduced with demo app https://github.com/chat-sdk/chat-sdk-android/issues/666

[2020-10-21 13:32] anonym24 opened #673 "Is there any callback to find out when synchronization (local DB <> Firebase) has been completed?"
Is there any callback to find out when synchronization (local DB <> Firebase) has been completed?

Because based on such issues https://github.com/chat-sdk/chat-sdk-android/issues/666 is would be really helpful

[2020-10-21 14:58] anonym24 commented on #666
[code]

so after fresh reinstall and login it returns 0 size of threads but after restarting the app it's more than 0

[2020-10-21 15:20] anonym24 commented on #666
and I see that in your ChatSDK code you get threads from db, which still can be empty:

![image](https://user-images.githubusercontent.com/8851301/96740665-b589e700-13c9-11eb-838f-5d686809473d.png)

so PrivateThreadsFragment & PublicThreadsFragment can easily show empty thread list and it will be like this until you restart the app or reopen the fragment

[2020-10-21 19:14] ChatWave commented on #666
I noticed this only happens when a user registers. It does not happen when a user logs in to an existing account.
So i did a bandage fix with:

Create the class CoreUtils in the below package

`package sdk.chat.ui.utils;

import android.app.AlarmManager;
import android.app.PendingIntent;
import android.content.Context;
import android.content.Intent;
import android.content.pm.PackageManager;
import

[2020-10-21 19:15] ChatWave commented on #673
I haven't found anything on this but check the last comment i made on that issue
it works for now

[2020-10-22 05:25] ZaroonRashid opened #674 "Getting old notification of read messages everytime after logged in"
I have integrated chatsdk in my application and enabled push notifications with firebase. Whenever I logged in after clearing my cache, I got all the notifications of old messages which I have read previously. I have recheck all integration but didn't find any mistake.

[2020-10-22 08:04] anonym24 commented on #666
@ChatWave I always used existing user to login, so no, it's not the case if it's existing user or a new one (after registartion)

[2020-10-23 09:24] anonym24 commented on #672
@bensmiley but there a problem that iOS version doesn't allow creating thread with custom ID, only Android

[2020-10-30 19:04] DeemSameer opened #675 "Unable to instantiate activity ComponentInfo"
2. **What modifications have you made to the Chat SDK?**
Nothing

3. **Android Version:**
4.0

5. **Expected result:**
Open SDK launcher
6. **Actual result:**

[code]

7. **Comments:**
![image](https://user-images.githubusercontent.com/66889295/97746421-5465c000-1afb-11eb-9432-554c56867a87.png)

[2020-11-12 07:53] awaisabbasaa11 commented on #673
Did you find any solution? My problem is if the user sends a message and the message was still in the sending/uploading state and the user go to any other activity, the firebase and receiver receive the message but the status of the message on the sender side remains sending/uploading. Any help would be highly appreciated

[2020-11-12 18:47] ChatWave commented on #673
Using greendao I don't think so but using Database refs it is possible asynchronously
ChatSDK already handles this though
Look into when it changes the state of the message or just general uses of the message state and dig through them

[2020-11-15 05:38] Neustradamus opened #676 "SCRAM-SHA-1-PLUS + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) supports"
To have compatibility with XMPP Servers and after:
- SCRAM-SHA-1

Can you add supports of :
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCR

[2020-11-16 12:55] #676 closed

[2020-11-17 09:40] Neustradamus commented on #676
@bensmiley: Solved?

[2020-11-17 12:20] bensmiley commented on #676
Hi @Neustradamus if there is an issue you actually need to describe the problem rather than posting a lot of links. If this is a feature request, you would need to mention that. With feature requests they will be implemented when we have capacity. If you need the feature urgently, you would need to contribute to the cost of the development.

[2020-11-19 09:56] anonym24 commented on #375
this issue is still available in every 5 versions, including the latest 5.0.16

[2020-11-19 09:57] anonym24 commented on #375
@thecmart how did you test it? please check 5.0.16. Install the app, create at least 5 threads with different users, those users has to send some message to you, then reinstall the app (fully delete and install again) or clear data, login with the same user and you will see unread counter on all or some threads

[2020-11-19 13:31] anonym24 opened #677 "Is there any method to find out number of all unread messages?"
Demo has counter of unread messages on each thread item view on threads list screen.

But I need to get the number of all unread messages - one number - one `int` variable. Is it possible?

Would be good if this value would be updated automatically - rx observer - firebase realtime datebase value event listener

I need to show it like this for example (whole number - all unread messages count):

!

[2020-11-27 19:46] bensmiley commented on #673
The database is synchronizing whenever new data comes in from Firebase. To find out when that is you can use the event object.

[code]

Event types:

[code]

GreenDao doesn't provide any way to notify us when it's data changes annoyingly. But you can use these notifications.

[2020-11-27 19:46] #673 closed

[2020-11-27 19:51] #669 closed

[2020-11-27 19:53] bensmiley commented on #675
This issue will happen if you haven't initialized the Chat SDK properly before launching a view like the splash screen activity. It can also happen if you try to initialize the Chat SDK in a place other than the main Application onCreate method. I'd recommend looking at the setup video and seeing where the configuration has been done incorrectly.

[2020-11-27 19:55] bensmiley commented on #677
You would need to loop over the threads for the current user:

[code]

[2020-11-27 19:55] #677 closed

[2020-11-29 16:24] BismeetSingh opened #678 "Help regarding overriding of MainActivity"
I want to make a request to the firebase database when the main activity loads. So, I created a custommainactivity and passed it to the setMainActivity. But the issue is MainActivity is an abstract class and so I also need to implement the functions / make my custom main activity abstract which I cant otherwise it cant be instantiated.

[2020-11-29 17:14] bensmiley commented on #678
@BismeetSingh you can either extend the `MainAppBarActivity` which isn't abstract or you will have to implement the abstract methods.

[2020-11-29 17:14] #678 closed

[2020-11-30 03:29] BismeetSingh commented on #678
Caused by: java.lang.IllegalStateException: Required view 'toolbar' with ID 2131362506 for field 'toolbar' was not found. If this view is optional add '@Nullable' (fields) or '@Optional' (methods) annotation.
This is what I get on extending MainAppBarActivity.

[2020-11-30 11:52] BismeetSingh opened #679 "ChatSdk not showing contacts in the fragment but saving in database."
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**

4. **Steps taken to reproduce the problem:**

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

I am trying to fetch a list of contacts from the real-time database and then add them to contacts using their entity Ids.

This is the code I wrote

[2020-12-01 14:11] bensmiley commented on #679
Hi @BismeetSingh this code looks like it should be ok but since it's custom code and I don't know what your Firebase database looks like I can't say for sure why it's not working. I would recommend that you check that the user snapshot is in the right format. You can confirm this by debugging.

I'm going to close this issue because it's not actually a Chat SDK bug. If you need further support you

[2020-12-01 14:11] #679 closed

[2020-12-01 14:19] bensmiley commented on #678
It probably means that your layout xml file doesn't match - i.e. you don't have an element with the ID toolbar.

[code]

This line

[2020-12-02 11:53] BismeetSingh opened #680 "config.publicRoomCreationEnabled(true) method doesnt exist"
Running on Android 10.

I am trying to configure public chat rooms.
I found the method config.publicRoomCreationEnabled discussed in many places but it is not found.
The error message is:
Unresolved reference: publicRoomCreationEnabled.
I searched in the Config class file in the source code of the sdk  and the method doesn't exist.

[2020-12-02 12:19] BismeetSingh commented on #680
Never mind, I figured it out its in the Ui module

[2020-12-02 12:19] #680 closed

[2020-12-04 11:47] egpayawal commented on #639
Hi @bensmiley. we're having this kind of issue as well but as you said you have fix v4.8.18 but I can't find it in the tags. Also, you said there was version 5.0.4 but the tags only have v5.0.0rc21 and the latest version base on the commit is 5.0.2. Question is, where is version 5.0.4?

[2020-12-04 11:55] bensmiley commented on #639
You could install it using Gradle? The latest version is: 5.0.16. Otherwise, you could try using the master version in Github.

[2020-12-17 09:02] slpatidar opened #681 "one to one Public chat message count showing wrong."
when get the "thread.getMessages().size()"   its returning wrong count .

I want to set a limitation for the chat message sent, but mostly the time when I trying to fetch the current sent message count it's returning the wrong count. I have sent only 20 messages to another user, and it's showing 24. how to get the exact count of the message between the user.

I have tried with following methods
1.

[2020-12-28 12:26] ZaroonRashid commented on #642
I am facing same issue. Didi you find any solution @OD2020-2 ?

[2020-12-28 13:04] gracemakai opened #682 "Error inflating profile fragment"
1. **Is the bug present in the demo Chat SDK project?**
No it's not

2. **What modifications have you made to the Chat SDK?**
None

3. **Android Version:**
8.1

4. **Steps taken to reproduce the problem:**
Clicking on user. When trying to view their profile

5. **Expected result:**
To view the user's profile

6. **Actual result:**
 java.lang.RuntimeException: Unable to start activity ComponentInfo

[2021-01-02 18:34] DaracBack opened #683 "Unable to click on links in chat window. Missing onclick call."
1. **Is the bug present in the demo Chat SDK project?** yes

2. **What modifications have you made to the Chat SDK?** small ones

3. **Android Version:** all versions have same problem

4. **Steps taken to reproduce the problem:**  send www.example.com to other user

5. **Expected result:** links be auto transfrom in clickable hyperlinks open in browser

6. **Actual result:** just text

7. **Comme

[2021-01-13 07:05] basims opened #684 "Can I use audio message and photo message features without purchasing the license, If I am not using it's UI module?"
I want to enable audio message feature without using its pre-developed UI. Planning to do that myself. Is it possible with the free license?

[2021-01-13 13:25] bensmiley commented on #684
Yes, as long as you develop it yourself, you don't need to pay any license fee.

[2021-01-13 13:25] #684 closed

[2021-01-14 18:43] santho5 opened #685 "sdk.chat.core.base.BaseNetworkAdapter.auth on a null object reference"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?** nothing

3. **Android Version:**  androind 4.1 jellybean

4. **Steps taken to reproduce the problem:**  done exactly as per the video demo.no changes made

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

I ahve done exactly as per the video tutorial and using  ChatSDK

[2021-01-14 19:40] bensmiley commented on #685
Is an error being caught here?

catch (Exception e) {
e.printStackTrace();
}

[2021-01-15 03:50] santho5 commented on #685
no the error is not catching there e.printStackTrace()

please see the log at verbose mode...

2021-01-15 09:16:37.411 15561-15561/com.advitech.namaste W/System.err:     at android.os.Handler.dispatchMessage(Handler.java:106)
2021-01-15 09:16:37.411 15561-15561/com.advitech.namaste W/System.err:     at android.os.Looper.loop(Looper.java:223)
2021-01-15 09:16:37.411 15561-15561/com.advitech.namaste

[2021-01-15 03:53] santho5 commented on #685
is it a firebase related issue?... token retrieval failed...

java.lang.NullPointerException: Attempt to read from field 'sdk.chat.core.handlers.AuthenticationHandler sdk.chat.core.base.BaseNetworkAdapter.auth' on a null object reference

[2021-01-16 09:29] amitkvyas commented on #561
any update?

[2021-01-16 11:35] bensmiley commented on #561
Here is the recommended way:

https://chat-sdk.gitbook.io/chat-sdk/guides/api-cheatsheet#examples

[code]

[2021-01-18 17:36] mwaqassatti opened #686 "co.chatsdk.core.handlers.PushHandler co.chatsdk.core.base.BaseNetworkAdapter.push' on a null object reference"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?** Noting

3. **Android Version:** Android 6, Android 7

4. **Steps taken to reproduce the problem:**

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

There are lot of crashes reported in firebase console.

Fatal Exception: java.lang.RuntimeException
Unable to start rece

[2021-01-18 17:36] mwaqassatti opened #687 "co.chatsdk.core.handlers.PushHandler co.chatsdk.core.base.BaseNetworkAdapter.push' on a null object reference"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?** Noting

3. **Android Version:** Android 6, Android 7

4. **Steps taken to reproduce the problem:**

5. **Expected result:**

6. **Actual result:**

7. **Comments:**

There are lot of crashes reported in firebase console.

Fatal Exception: java.lang.RuntimeException
Unable to start rece

[2021-01-18 17:36] mwaqassatti commented on #687
@bensmiley

[2021-01-18 17:38] #686 closed

[2021-01-18 18:07] bensmiley commented on #687
@mwaqassatti you need to have a push handler enabled. The reason why you are getting an issue is because it's not setup.

[2021-01-18 18:13] bensmiley commented on #687
[code]

[2021-01-18 18:13] #687 closed

[2021-01-19 08:57] #682 closed

[2021-01-19 11:47] GDMobileTeam commented on #414
ChatSDK implementation: 'sdk.chat:firebase-app:5.0.0rc21'
The above error still occures to me:
[code]

Any way to fix this?

[2021-01-19 12:21] bensmiley commented on #414
Can you update to the latest version 5.1.1 and tell me if it still happens? We don't support old versions.

[2021-01-20 10:46] mwaqassatti commented on #687
@bensmiley Thanks for your quick response. But what's minimum version to use .addModule()?
Currently we are using FirebasePushModule.activate() by using version 4.8.9.

[2021-01-21 12:01] GDMobileTeam commented on #414
Yeah sure, I didn't see any newer version on your github page
It will take me some time to test it out
But one more thing, after updating to sdk.chat:firebase-app:5.1.1
I am no longer able to look into your library files
Getting this message: decompiled .class file bytecode version 52.0 (java 8)
And when I try to download sources i get the following error:
[code]

Doo you have any suggestions on h

[2021-01-21 15:17] GDMobileTeam opened #688 "Logout problems on production version of app"
Hi,
I'm having a problem with your library that only occurs on the signed productionRelease of my app.

ChatSDK version used is 5.1.1

The problem is with the Logout function `ChatSDK.auth().logout()`

Implemented in my app like this:

[code]

Running this bit of code with any debugger (tried debugging the signed release version with debuggable true with no success) passes seamlessly so I'm not ab

[2021-01-22 12:19] mwaqassatti opened #689 "Chat is laggy on initial loading of the app after signing in"
1. **Is the bug present in the demo Chat SDK project?**

2. **What modifications have you made to the Chat SDK?**

3. **Android Version:**

4. **Steps taken to reproduce the problem:** Install new app which have lots of conversation and sign in

5. **Expected result:** It should be smooth

6. **Actual result:** App freezes for some 20-30 secs

7. **Comments:** Currently we are using version 4.8.9.

[2021-01-22 12:57] bensmiley commented on #689
@mwaqassatti can you see if this happens in 5.x? We are not developing 4.x any further so even if there are bugs, they will not be fixed.

[2021-01-22 12:57] #689 closed

[2021-01-22 12:59] bensmiley commented on #688
Hi @GDMobileTeam can you see if this happens with the standard unmodified version of the app? If you've made customizations, it's not really possible for me to help you since I can't see which changes you've made. However, if this is a bug with the framework, I will do my best to fix it.

[2021-01-22 13:01] bensmiley commented on #685
This usually happens if the Chat SDK initialization has not completed properly. That can happen if you are not setting up the Chat SDK in the main application onCreate method or if there is some exception that happens during initialization.

[2021-01-22 15:43] GDMobileTeam commented on #688
Thank you for your response @bensmiley
So I tried building the demo app as a signedRelease version and everything works as intended.
Now I'm using chatSDK version 5.1.1

I'm using the library in the way of just using its functions without the UI and I built my UI around it then to fit in my app

What I've used and how:

The code I pasted in my previous message is the main auth function I use
As I

[2021-01-23 12:12] bensmiley commented on #688
Hi @GDMobileTeam from what I understand, you want a guest mode that can be upgraded to a full login. I can see how trying to do this would lead to issues.

I would recommend taking another approach. When the user is in guest mode, you could use anonymous login. Then, when it is time to upgrade their account, you could like their "real" account with the anonymous account using this:

https://fireba

[2021-01-25 11:24] GDMobileTeam commented on #688
Hello again @bensmiley, thank you for the recommendation, this has already been done when the user registers, but I did not know there's a possibility of merging multiple accounts ill have to look into that!

But the logic behind my code doesn't change that much, I'll still need to make an anonymous login just after the logout and it's your logout function that takes time. I am able to see the cod

[2021-01-25 11:36] bensmiley commented on #688
Hi @GDMobileTeam, from the documentation, it doesn't look like you have to log out. You stay signed in as anonymous and start a new sign up flow (this would have to be through Firebase not the Chat SDK). At the end of that process, you would have a credential which you link to the existing user.

[code]

Signing out and back in again is what you should try to avoid.

Addressing your issue, however

[2021-01-27 09:02] slpatidar commented on #375
Yes, I m facing exactly the same issue in the latest version as well. and as per my understanding, there is no syncing with the firebase realtime database for "read" status mark in free SDK, this is just maintaining the read unread mark in the local database so when we uninstall the app database will be cleared and then install the app all thread messages becomes show as a new unread message.

[2021-01-27 09:05] slpatidar commented on #677
There is no syncing with the firebase realtime database for "read" status mark in free SDK, this is just maintaining the read unread mark in the local database so when we uninstall the app database will be cleared and then install the app all thread messages becomes show as a new unread message.

[2021-01-27 09:07] slpatidar commented on #677
So the read unread status feature is paid service or it's free? please make me clear.

[2021-01-27 22:15] DaracBack opened #690 "Contact book integration bug"
1. **Is the bug present in the demo Chat SDK project?** Yes

2. **What modifications have you made to the Chat SDK?** None

3. **Android Version:** all

4. **Steps taken to reproduce the problem:** Try invite someone via Contact book.

5. **Expected result:** invite peope and share app via SMS or similar services.

6. **Actual result:** Opening SMS aplication for invite but typing box is empty.

7

[2021-01-28 10:32] GDMobileTeam commented on #414
Hi, @bensmiley
Just to get back to you, after extensive testing I can say that upgrading to the newer version of the library did fix the problem, thanks!

[2021-01-30 11:25] slpatidar commented on #663
I have created a new my Chat Activity ( MyChatActivity extends ChatActivity)  and override xml layout with my chat layout(activity_my_chat_activity.xml).
Now I want to change chat layout design and have created a new chatview class as per doc

public class MyChatView extends ChatView {
    public MyChatView(Context context) {
        super(context);
    }
}

and set in layout, but not showing an e

[2021-01-30 12:21] bensmiley commented on #663
This isn't a Chat SDK problem, it's a straightforward Android development issue. The error message tells you what is going on.

[code]

When I Google that error I find:

https://stackoverflow.com/questions/34469487/caused-by-java-lang-nosuchmethodexception-init-class-android-content-contex

[code]

I guess that you have to add this to your class:

[code]

But this is just a guess since I can't see

[2021-01-30 20:35] nicorevo commented on #655
hi, any news on it ?
br
nico

[2021-01-31 16:14] bensmiley commented on #655
@nicorevo group deletion is currently not supported for the Firebase version. I will change this to a feature request. This can be expedited if it can be sponsored.

[2021-02-02 20:49] GDMobileTeam commented on #688
Hello @bensmiley
You are right, I will see to refactor my code following what you said

I finally figured out what is causing my problem and why its only on my production, I have 2 separate databases for development and for production so different data

My app has quite a lot of users so my chats have reached over 2.5 thousand treads (most public, growing by the day)
On login/logout firebase datab

[2021-02-02 20:59] bensmiley commented on #688
Yes, having a lot of public threads can impact the performance because it means the app has to do a lot of synchronisation. It's best to limit the number because of that and because having thousands of public threads isn't good for the user experience either.

[2021-02-04 10:18] anonym24 commented on #672
@bensmiley is there any news/updates how can we do it on iOS - creating custom threadID? Because if iOS doesn't allow it then it's not possible create cross platform chat app

[2021-02-04 11:39] bensmiley commented on #672
If you want to do this you can just look at the code that's executed to create the thread.

[code]

[2021-02-04 14:01] basims opened #691 "Sending audio message issue"
1. **Is the bug present in the demo Chat SDK project?** Didn't check

2. **What modifications have you made to the Chat SDK?** No changes made

3. **Android Version:** 10.0

4. **Steps taken to reproduce the problem:** Sending an audio message

5. **Expected result:** Should be able to send an audio message

6. **Actual result:** Getting exception - ```java.lang.NullPointerException: Attempt to in

[2021-02-04 14:08] slpatidar commented on #663
I got it, Thanks for the reply.

[2021-02-04 14:09] #663 closed

[2021-02-04 14:13] basims commented on #691
@bensmiley  Thank you for this wonderful library and for your reply. I am able to fix the issue by adding a line  _.addModule(AudioMessageModule.shared())_ in configuration. One more doubt, can I use AudioMessageModule without purchasing a license, if I am implementing the audio message feature on my own? I just want to use the method _ChatSDK.audioMessage().sendMessage_. recording the audio, show

[2021-02-04 14:20] bensmiley commented on #691
Hi @basims you would need to have a license if you were to include the `AudioMessageModule` class OR `:chat-sdk-pro-message-audio` Gradle dependency in your project. If you use any of the code from the audio message module then you need a license.

If you don't use the module and re-implement all the functionality independently using your own unique approach and code, then you would not need a lic

[2021-02-04 14:20] #691 closed

[2021-02-05 01:49] ChatWave opened #692 "GreenDao & Proguard Issue"
1. **Is the bug present in the demo Chat SDK project?** I'm assuming yes

2. **What modifications have you made to the Chat SDK?** A lot

3. **Android Version:** 7.1.1

4. **Steps taken to reproduce the problem:** Turn on minify

5. **Expected result:** It's supposed to launch

6. **Actual result:** Says there's no TABLENAME

7. **Comments:**

Has chatsdk successfully used minify with greendao?
I'

[2021-02-05 01:53] ChatWave commented on #692
actually nevermind it does use minify
let me see if it launches

[2021-02-05 07:53] bensmiley commented on #692
Yes the new version works with minify. You can check the Proguard rules.

[2021-02-05 10:35] #692 closed

[2021-02-08 05:02] basims opened #693 "Clearing chat history from Firebase"
I know chat SDK works because we are saving the messages in Firebase. But, due to some privacy issues, I shouldn't keep user's chat data in Firebase forever. Is there any way I can implement this using chat SDK? Can I do something like deleting the message from Firebase right after the message is delivered? Or does it support any kind of encryption so that even Firebase admin cant see the messages

[2021-02-11 06:20] awaisabbasaa11 commented on #671
Hi I need little guidance, I am pushing some custom meta values at sign-up in user tag, but when i try to login again after clearing cache, my custom meta values are removed from the firebase then i have to push those values again.  Is there any proper solution for this?

[2021-02-12 06:18] awaisabbasaa11 opened #694 "ChatSDK.core().getUserForEntityID(user.getUid()) is removing Custom Meta Values from firebase"
1. **Is the bug present in the demo Chat SDK project?**
No idea

2. **What modifications have you made to the Chat SDK?**
 a lot but not in the affected module or its related functions
3. **Android Version:**
android 7, 8, 9, 10
4. **Steps taken to reproduce the problem:**
a) User A login from a device A, and update his Meta Values and add some Custom Values in his Meta Values i.e user_type, desti

[2021-02-27 13:50] bensmiley commented on #693
Hi @basims to do this you would need to remove the messages using the Firebase REST API or a Firebase Functions script. It is not supported by the Chat SDK.

[2021-02-27 13:50] #693 closed

[2021-02-27 13:50] bensmiley commented on #668
Fixed in 5.1.2

[2021-02-27 13:50] #668 closed

[2021-02-27 13:52] bensmiley commented on #667
This is supported by the Firebase UI module. Use something like:

[code]
Then follow Firebase docs for setup and configuration.

[2021-02-27 13:52] #667 closed

[2021-02-27 13:53] bensmiley commented on #685
Closing due to inactivity.

[2021-02-27 13:53] #685 closed

[2021-02-27 13:56] bensmiley commented on #674
If you delete the app you would need to install the read receipts module to avoid this. Otherwise, you would need to implement your own method of tracking when the message is read.

[2021-02-27 13:56] #674 closed

[2021-02-27 13:59] bensmiley commented on #694
I can't reproduce this issue. I tried:

[code]

This function performed as expected. No data was deleted. It's probably related to your custom code.

[2021-02-27 13:59] #694 closed

[2021-02-27 14:02] bensmiley commented on #675
Closing due to inactivity.

[2021-02-27 14:02] #675 closed

[2021-02-27 14:18] bensmiley commented on #658
Closing due to inactivity.

[2021-02-27 14:18] #658 closed

[2021-02-27 14:21] bensmiley commented on #660
Fixed in 5.1.2

[2021-02-27 14:21] #660 closed

[2021-02-27 14:30] bensmiley commented on #690
You can set the subject and body like this:

[code]

[2021-02-27 14:30] #690 closed

[2021-02-27 14:34] bensmiley commented on #681
This is because that method lazy loads messages. Use this instead:

[code]

[2021-02-27 14:34] #681 closed

[2021-02-27 15:38] bensmiley commented on #683
Fixed in 5.1.2.

[2021-02-28 14:57] #683 closed

[2021-02-28 14:59] bensmiley commented on #664
This is currently not supported. You would need to port the activity to a fragment yourself if you need this.

[2021-02-28 14:59] #664 closed

[2021-02-28 15:01] bensmiley commented on #615
Proguard is fixed in the latest version.

[2021-02-28 15:01] #615 closed

[2021-02-28 15:02] #647 closed

[2021-03-04 07:27] Devishkar commented on #665
Can you assign this issue to me?

[2021-03-05 12:58] basimsherif opened #695 "Getting all messages from a user"
Currently, I am using thread().getMessages() to get all messages from a thread. But due to some issues, I am getting duplicate threads for the same user. Is there any way I can get a merged list of all messages, sent and received from a user? So basically, I need to merge all the messages from all threads from the same user.

[2021-03-05 13:11] bensmiley commented on #695
@basimsherif can you give me some more context. I need to know which code you're using to try to get the threads for the user.

[2021-03-05 13:27] basimsherif commented on #695
Below is the method I use to get the thread while sending a message to user,
thread().createThread(Collections.singletonList(user))
            .subscribe { thread1: Thread? ->

            }
And I use the below code to list all the threads for all users, where I am getting duplicates
thread().getThreads(ThreadType.Private1to1)

[2021-03-05 13:28] bensmiley commented on #695
When you say they are duplicates, can you explain what you mean?

[2021-03-05 13:34] basimsherif commented on #695
I am getting two threads from the same user, when I use the below method,
thread().getThreads(ThreadType.Private1to1)
Please see the screenshot below,

![Screenshot_20210305-190234](https://user-images.githubusercontent.com/4938087/110122375-8d81aa00-7de5-11eb-8355-d5380b8a5584.jpg)

[2021-03-12 18:18] Arjunraj-k opened #697 "Plugin For Flutter"
Can you guys release a plugin for Flutter, as your SDK seems to work on all other platforms, it will be easy for flutter devs to integrate this features to our apps.

[2021-03-13 10:29] bensmiley commented on #697
I'm afraid it's very unlikely we will be able to make a plugin for Flutter unless we get sponsorship or support from a developer from the community. Currently, we only have the resources to support the iOS and Android clients.